In [1]:
import pandas as pd
import numpy as np
import re
import datetime

In [2]:
df_ele_1 = pd.read_excel("Amazon.co.uk _ electronics_raw_1.xlsx")
df_ele_2 = pd.read_excel("Amazon.co.uk _ electronics_raw_2.xlsx")
df_ele_3 = pd.read_excel("Amazon.co.uk _ electronics_raw_3.xlsx")

In [3]:
df_ele_1.describe()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,State,Review,Helpful
count,20000,19997,19997,16229,12533,19960,19961,19961,19531,19957,2953
unique,37,11,35,19,8208,16039,5,7749,1,18700,96
top,Fire TV Stick Lite with Alexa Voice Remote Lit...,4.7 out of 5 stars,"89,305 ratings",£29\n.\n99,Five Stars,Amazon Customer,5.0 out of 5 stars,Reviewed in the United Kingdom on 11 December ...,Verified Purchase,Good,One person found this helpful
freq,5003,13891,5003,5003,776,1359,14259,81,19531,140,1498

In [4]:
df_ele_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,State,Review,Helpful
0,Snap Circuits Beginner Electronics Discovery K...,4.8 out of 5 stars,"2,119 ratings",£25\n.\n99,My son loves this set,mrscanty,5.0 out of 5 stars,Reviewed in the United Kingdom on 16 March 2021,Verified Purchase,This was a Christmas present for my 7 year old...,One person found this helpful
1,Snap Circuits Beginner Electronics Discovery K...,4.8 out of 5 stars,"2,119 ratings",£25\n.\n99,Hours of engagement and problem solving!,Izzy&Milly,5.0 out of 5 stars,Reviewed in the United Kingdom on 9 January 2022,Verified Purchase,Bought for my 5 year old nephew who loves usin...,NaN
2,Snap Circuits Beginner Electronics Discovery K...,4.8 out of 5 stars,"2,119 ratings",£25\n.\n99,Great product,Mr G,5.0 out of 5 stars,Reviewed in the United Kingdom on 31 January 2019,NaN,We purchased the SC-100 and it's great for our...,One person found this helpful
3,Snap Circuits Beginner Electronics Discovery K...,4.8 out of 5 stars,"2,119 ratings",£25\n.\n99,Two Stars,Lisa,2.0 out of 5 stars,Reviewed in the United Kingdom on 10 October 2016,Verified Purchase,Comes alot smaller than expected,NaN
4,Snap Circuits Beginner Electronics Discovery K...,4.8 out of 5 stars,"2,119 ratings",£25\n.\n99,Four Stars,Caroline McCormack,4.0 out of 5 stars,Reviewed in the United Kingdom on 17 January 2017,Verified Purchase,Very pleased with all the above items,One person found this helpful

In [5]:
df_ele_1[['Overall Stars', "Individual Review"]]

            Overall Stars   Individual Review
0      4.8 out of 5 stars  5.0 out of 5 stars
1      4.8 out of 5 stars  5.0 out of 5 stars
2      4.8 out of 5 stars  5.0 out of 5 stars
3      4.8 out of 5 stars  2.0 out of 5 stars
4      4.8 out of 5 stars  4.0 out of 5 stars
...                   ...                 ...
19995  4.7 out of 5 stars  5.0 out of 5 stars
19996  4.7 out of 5 stars  5.0 out of 5 stars
19997  4.7 out of 5 stars  4.0 out of 5 stars
19998  4.7 out of 5 stars  5.0 out of 5 stars
19999  4.7 out of 5 stars  5.0 out of 5 stars

[20000 rows x 2 columns]

In [6]:
df_ele_1[['Overall Stars', "Individual Review"]] = df_ele_1[['Overall Stars', "Individual Review"]].apply(lambda x: x.str.rstrip(' out of 5 stars'))
df_ele_2[['Overall Stars', "Individual Review"]] = df_ele_2[['Overall Stars', "Individual Review"]].apply(lambda x: x.str.rstrip(' out of 5 stars'))
df_ele_3[['Overall Stars', "Individual Review"]] = df_ele_3[['Overall Stars', "Individual Review"]].apply(lambda x: x.str.rstrip(' out of 5 stars'))

In [7]:
df_ele_1 =  df_ele_1.astype(str)
df_ele_2 =  df_ele_2.astype(str)
df_ele_3 =  df_ele_3.astype(str)

In [8]:
df_ele_1['Number of Reviews'] = df_ele_1['Number of Reviews'].map(lambda x: x.rstrip(' ratings'))
df_ele_2['Number of Reviews'] = df_ele_2['Number of Reviews'].map(lambda x: x.rstrip(' ratings'))
df_ele_3['Number of Reviews'] = df_ele_3['Number of Reviews'].map(lambda x: x.rstrip(' ratings'))

In [9]:
df_ele_1.head()
#df_ele_2.head()
#df_ele_3.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,State,Review,Helpful
0,Snap Circuits Beginner Electronics Discovery K...,4.8,"2,119",£25\n.\n99,My son loves this set,mrscanty,5.0,Reviewed in the United Kingdom on 16 March 2021,Verified Purchase,This was a Christmas present for my 7 year old...,One person found this helpful
1,Snap Circuits Beginner Electronics Discovery K...,4.8,"2,119",£25\n.\n99,Hours of engagement and problem solving!,Izzy&Milly,5.0,Reviewed in the United Kingdom on 9 January 2022,Verified Purchase,Bought for my 5 year old nephew who loves usin...,nan
2,Snap Circuits Beginner Electronics Discovery K...,4.8,"2,119",£25\n.\n99,Great product,Mr G,5.0,Reviewed in the United Kingdom on 31 January 2019,nan,We purchased the SC-100 and it's great for our...,One person found this helpful
3,Snap Circuits Beginner Electronics Discovery K...,4.8,"2,119",£25\n.\n99,Two Stars,Lisa,2.0,Reviewed in the United Kingdom on 10 October 2016,Verified Purchase,Comes alot smaller than expected,nan
4,Snap Circuits Beginner Electronics Discovery K...,4.8,"2,119",£25\n.\n99,Four Stars,Caroline McCormack,4.0,Reviewed in the United Kingdom on 17 January 2017,Verified Purchase,Very pleased with all the above items,One person found this helpful

In [10]:
df_ele_1['Location and Date'] = df_ele_1['Location and Date'].apply(lambda x: x.lstrip('Reviewed in the '))
df_ele_2['Location and Date'] = df_ele_2['Location and Date'].apply(lambda x: x.lstrip('Reviewed in the '))
df_ele_3['Location and Date'] = df_ele_3['Location and Date'].apply(lambda x: x.lstrip('Reviewed in the '))

In [11]:
df_ele_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,State,Review,Helpful
0,Snap Circuits Beginner Electronics Discovery K...,4.8,"2,119",£25\n.\n99,My son loves this set,mrscanty,5.0,United Kingdom on 16 March 2021,Verified Purchase,This was a Christmas present for my 7 year old...,One person found this helpful
1,Snap Circuits Beginner Electronics Discovery K...,4.8,"2,119",£25\n.\n99,Hours of engagement and problem solving!,Izzy&Milly,5.0,United Kingdom on 9 January 2022,Verified Purchase,Bought for my 5 year old nephew who loves usin...,nan
2,Snap Circuits Beginner Electronics Discovery K...,4.8,"2,119",£25\n.\n99,Great product,Mr G,5.0,United Kingdom on 31 January 2019,nan,We purchased the SC-100 and it's great for our...,One person found this helpful
3,Snap Circuits Beginner Electronics Discovery K...,4.8,"2,119",£25\n.\n99,Two Stars,Lisa,2.0,United Kingdom on 10 October 2016,Verified Purchase,Comes alot smaller than expected,nan
4,Snap Circuits Beginner Electronics Discovery K...,4.8,"2,119",£25\n.\n99,Four Stars,Caroline McCormack,4.0,United Kingdom on 17 January 2017,Verified Purchase,Very pleased with all the above items,One person found this helpful

In [12]:
df_ele_1['Number of Reviews'] = df_ele_1['Number of Reviews'].apply(lambda x: x.replace(',',''))
df_ele_2['Number of Reviews'] = df_ele_2['Number of Reviews'].apply(lambda x: x.replace(',',''))
df_ele_3['Number of Reviews'] = df_ele_3['Number of Reviews'].apply(lambda x: x.replace(',',''))

In [13]:
df_ele_1['Helpful'] = df_ele_1['Helpful'].apply(lambda x: x.replace(',',''))
df_ele_2['Helpful'] = df_ele_2['Helpful'].apply(lambda x: x.replace(',',''))
df_ele_3['Helpful'] = df_ele_3['Helpful'].apply(lambda x: x.replace(',',''))

In [14]:
df_ele_2.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,State,Review,Helpful
0,Canon Genuine Ink Cartridges CL-541XL - Pack o...,4.7,15254,nan,nan,TULLIO CAMPIONE,5.0,Italy on 14 November 2015,Verified Purchase,prodotto sicuramente consigliato per uso norma...,nan
1,Canon Genuine Ink Cartridges CL-541XL - Pack o...,4.7,15254,nan,nan,Loma93,5.0,France on 3 October 2021,Verified Purchase,"Conforme à la description, livraison rapide et...",nan
2,Canon Genuine Ink Cartridges CL-541XL - Pack o...,4.7,15254,nan,nan,Claudio Barani,5.0,Italy on 29 April 2014,Verified Purchase,cartuccia per stampantePer la celerità nelle s...,nan
3,Canon Genuine Ink Cartridges CL-541XL - Pack o...,4.7,15254,nan,nan,Pietro Maifredi,5.0,Italy on 6 June 2019,Verified Purchase,tutto bene dalla spedizione al prodotto,nan
4,Canon Genuine Ink Cartridges CL-541XL - Pack o...,4.7,15254,nan,nan,Client d'Amazon,5.0,France on 13 September 2021,Verified Purchase,"super rapport qualité/ prix , vu la promotion...",nan

In [15]:
df_ele_1["Date"] = df_ele_1["Location and Date"]
df_ele_2["Date"] = df_ele_2["Location and Date"]
df_ele_3["Date"] = df_ele_3["Location and Date"]

In [16]:
df_ele_1["Date"] = df_ele_1["Date"].apply(lambda x: x.split(' on ')[-1].strip())
df_ele_2["Date"] = df_ele_2["Date"].apply(lambda x: x.split(' on ')[-1].strip())
df_ele_3["Date"] = df_ele_3["Date"].apply(lambda x: x.split(' on ')[-1].strip())

In [17]:
df_ele_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,State,Review,Helpful,Date
0,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,My son loves this set,mrscanty,5.0,United Kingdom on 16 March 2021,Verified Purchase,This was a Christmas present for my 7 year old...,One person found this helpful,16 March 2021
1,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Hours of engagement and problem solving!,Izzy&Milly,5.0,United Kingdom on 9 January 2022,Verified Purchase,Bought for my 5 year old nephew who loves usin...,nan,9 January 2022
2,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Great product,Mr G,5.0,United Kingdom on 31 January 2019,nan,We purchased the SC-100 and it's great for our...,One person found this helpful,31 January 2019
3,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Two Stars,Lisa,2.0,United Kingdom on 10 October 2016,Verified Purchase,Comes alot smaller than expected,nan,10 October 2016
4,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Four Stars,Caroline McCormack,4.0,United Kingdom on 17 January 2017,Verified Purchase,Very pleased with all the above items,One person found this helpful,17 January 2017

In [18]:
df_ele_1["Location and Date"] = df_ele_1["Location and Date"].apply(lambda x: x.split(' on ')[0].strip())
df_ele_2["Location and Date"] = df_ele_2["Location and Date"].apply(lambda x: x.split(' on ')[0].strip())
df_ele_3["Location and Date"] = df_ele_3["Location and Date"].apply(lambda x: x.split(' on ')[0].strip())

In [19]:
df_ele_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,State,Review,Helpful,Date
0,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,My son loves this set,mrscanty,5.0,United Kingdom,Verified Purchase,This was a Christmas present for my 7 year old...,One person found this helpful,16 March 2021
1,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Hours of engagement and problem solving!,Izzy&Milly,5.0,United Kingdom,Verified Purchase,Bought for my 5 year old nephew who loves usin...,nan,9 January 2022
2,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Great product,Mr G,5.0,United Kingdom,nan,We purchased the SC-100 and it's great for our...,One person found this helpful,31 January 2019
3,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Two Stars,Lisa,2.0,United Kingdom,Verified Purchase,Comes alot smaller than expected,nan,10 October 2016
4,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Four Stars,Caroline McCormack,4.0,United Kingdom,Verified Purchase,Very pleased with all the above items,One person found this helpful,17 January 2017

In [20]:
df_ele_1.rename(columns={"Location and Date": "Location"}, inplace = True)
df_ele_2.rename(columns={"Location and Date": "Location"}, inplace = True)
df_ele_3.rename(columns={"Location and Date": "Location"}, inplace = True)

In [21]:
df_ele_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location,State,Review,Helpful,Date
0,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,My son loves this set,mrscanty,5.0,United Kingdom,Verified Purchase,This was a Christmas present for my 7 year old...,One person found this helpful,16 March 2021
1,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Hours of engagement and problem solving!,Izzy&Milly,5.0,United Kingdom,Verified Purchase,Bought for my 5 year old nephew who loves usin...,nan,9 January 2022
2,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Great product,Mr G,5.0,United Kingdom,nan,We purchased the SC-100 and it's great for our...,One person found this helpful,31 January 2019
3,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Two Stars,Lisa,2.0,United Kingdom,Verified Purchase,Comes alot smaller than expected,nan,10 October 2016
4,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25\n.\n99,Four Stars,Caroline McCormack,4.0,United Kingdom,Verified Purchase,Very pleased with all the above items,One person found this helpful,17 January 2017

In [22]:
df_ele_1['Price'] = df_ele_1['Price'].apply(lambda x: x.replace('\n.\n','.'))
df_ele_2['Price'] = df_ele_2['Price'].apply(lambda x: x.replace('\n.\n','.'))
df_ele_3['Price'] = df_ele_3['Price'].apply(lambda x: x.replace('\n.\n','.'))

In [23]:
df_ele_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location,State,Review,Helpful,Date
0,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25.99,My son loves this set,mrscanty,5.0,United Kingdom,Verified Purchase,This was a Christmas present for my 7 year old...,One person found this helpful,16 March 2021
1,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25.99,Hours of engagement and problem solving!,Izzy&Milly,5.0,United Kingdom,Verified Purchase,Bought for my 5 year old nephew who loves usin...,nan,9 January 2022
2,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25.99,Great product,Mr G,5.0,United Kingdom,nan,We purchased the SC-100 and it's great for our...,One person found this helpful,31 January 2019
3,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25.99,Two Stars,Lisa,2.0,United Kingdom,Verified Purchase,Comes alot smaller than expected,nan,10 October 2016
4,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,£25.99,Four Stars,Caroline McCormack,4.0,United Kingdom,Verified Purchase,Very pleased with all the above items,One person found this helpful,17 January 2017

In [24]:
df_ele_1['Price'] = df_ele_1['Price'].apply(lambda x: x.replace('£',''))
df_ele_2['Price'] = df_ele_2['Price'].apply(lambda x: x.replace('£',''))
df_ele_3['Price'] = df_ele_3['Price'].apply(lambda x: x.replace('£',''))

In [25]:
df_ele_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location,State,Review,Helpful,Date
0,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,My son loves this set,mrscanty,5.0,United Kingdom,Verified Purchase,This was a Christmas present for my 7 year old...,One person found this helpful,16 March 2021
1,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Hours of engagement and problem solving!,Izzy&Milly,5.0,United Kingdom,Verified Purchase,Bought for my 5 year old nephew who loves usin...,nan,9 January 2022
2,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Great product,Mr G,5.0,United Kingdom,nan,We purchased the SC-100 and it's great for our...,One person found this helpful,31 January 2019
3,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Two Stars,Lisa,2.0,United Kingdom,Verified Purchase,Comes alot smaller than expected,nan,10 October 2016
4,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Four Stars,Caroline McCormack,4.0,United Kingdom,Verified Purchase,Very pleased with all the above items,One person found this helpful,17 January 2017

In [26]:
df_ele_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Product            20000 non-null  object
 1   Overall Stars      20000 non-null  object
 2   Number of Reviews  20000 non-null  object
 3   Price              20000 non-null  object
 4   Title of Review    20000 non-null  object
 5   Name               20000 non-null  object
 6   Individual Review  20000 non-null  object
 7   Location           20000 non-null  object
 8   State              20000 non-null  object
 9   Review             20000 non-null  object
 10  Helpful            20000 non-null  object
 11  Date               20000 non-null  object
dtypes: object(12)
memory usage: 1.8+ MB

In [27]:
df_ele_1[["day","month", "year"]] = df_ele_1["Date"].apply(lambda x: pd.Series(x.split(' ')))
df_ele_2[["day","month", "year"]] = df_ele_2["Date"].apply(lambda x: pd.Series(x.split(' ')))
df_ele_3[["day","month", "year"]] = df_ele_3["Date"].apply(lambda x: pd.Series(x.split(' ')))

In [28]:
df_ele_1["Date"] = pd.to_datetime(df_ele_1['year'].astype(str)  + df_ele_1['month'] + df_ele_1["day"], format='%Y%B%d')
df_ele_2["Date"] = pd.to_datetime(df_ele_2['year'].astype(str)  + df_ele_2['month'] + df_ele_2["day"], format='%Y%B%d')
df_ele_3["Date"] = pd.to_datetime(df_ele_3['year'].astype(str)  + df_ele_3['month'] + df_ele_3["day"], format='%Y%B%d')

In [29]:
df_ele_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location,State,Review,Helpful,Date,day,month,year
0,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,My son loves this set,mrscanty,5.0,United Kingdom,Verified Purchase,This was a Christmas present for my 7 year old...,One person found this helpful,2021-03-16,16,March,2021
1,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Hours of engagement and problem solving!,Izzy&Milly,5.0,United Kingdom,Verified Purchase,Bought for my 5 year old nephew who loves usin...,nan,2022-01-09,9,January,2022
2,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Great product,Mr G,5.0,United Kingdom,nan,We purchased the SC-100 and it's great for our...,One person found this helpful,2019-01-31,31,January,2019
3,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Two Stars,Lisa,2.0,United Kingdom,Verified Purchase,Comes alot smaller than expected,nan,2016-10-10,10,October,2016
4,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Four Stars,Caroline McCormack,4.0,United Kingdom,Verified Purchase,Very pleased with all the above items,One person found this helpful,2017-01-17,17,January,2017

In [30]:
df_ele_1.drop(columns = ["day", "month", "year"], inplace= True)
df_ele_2.drop(columns = ["day", "month", "year"], inplace= True)
df_ele_3.drop(columns = ["day", "month", "year"], inplace= True)

In [31]:
df_ele_1["Helpful"].value_counts()

nan                              17047
One person found this helpful     1498
2 people found this helpful        441
3 people found this helpful        237
4 people found this helpful        145
                                 ...
72 people found this helpful         1
209 people found this helpful        1
35 people found this helpful         1
54 people found this helpful         1
90 people found this helpful         1
Name: Helpful, Length: 97, dtype: int64

In [32]:
df_ele_1["Helpful"] = df_ele_1["Helpful"].apply(lambda x: x.rstrip('people found this helpful'))
df_ele_2["Helpful"] = df_ele_2["Helpful"].apply(lambda x: x.rstrip('people found this helpful'))
df_ele_3["Helpful"] = df_ele_3["Helpful"].apply(lambda x: x.rstrip('people found this helpful'))

In [33]:
df_ele_1["Helpful"].replace(['One per', "na"], [1, 0], inplace = True)
df_ele_2["Helpful"].replace(['One per', "na"], [1, 0], inplace = True)
df_ele_3["Helpful"].replace(['One per', "na"], [1, 0], inplace = True)

In [34]:
df_ele_1["Number of Reviews"].replace('', 0, inplace=True)
df_ele_2["Number of Reviews"].replace('', 0, inplace=True)
df_ele_3["Number of Reviews"].replace('', 0, inplace=True)

In [35]:
df_ele_1[["Product", "Title of Review", "Name", "Location", "State", "Review"]].astype(str).dtypes
df_ele_1[["Overall Stars", "Price", "Individual Review"]].astype(float)
df_ele_1[["Number of Reviews", "Helpful"]].astype(int)

       Number of Reviews  Helpful
0                   2119        1
1                   2119        0
2                   2119        1
3                   2119        0
4                   2119        1
...                  ...      ...
19995              15254        0
19996              15254        0
19997              15254        0
19998              15254        0
19999              15254        0

[20000 rows x 2 columns]

In [36]:
df_ele_2["Helpful"].value_counts()

0      17277
1       1970
2        267
3        118
4         74
       ...
58         1
195        1
63         1
84         1
144        1
Name: Helpful, Length: 91, dtype: int64

In [37]:
df_ele_2[["Product", "Title of Review", "Name", "Location", "State", "Review"]].astype(str).dtypes
df_ele_2[["Overall Stars", "Price", "Individual Review"]].astype(float)
df_ele_2[["Number of Reviews", "Helpful"]].astype(int)

       Number of Reviews  Helpful
0                  15254        0
1                  15254        0
2                  15254        0
3                  15254        0
4                  15254        0
...                  ...      ...
19995                251        0
19996                251        0
19997                251        0
19998                251        0
19999                251        0

[20000 rows x 2 columns]

In [38]:
df_ele_3[["Product", "Title of Review", "Name", "Location", "State", "Review"]].astype(str).dtypes
df_ele_3[["Overall Stars", "Price", "Individual Review"]].astype(float)
df_ele_3[["Number of Reviews", "Helpful"]].astype(int)

       Number of Reviews  Helpful
0                    251        1
1                    251        0
2                    251        1
3                    251        2
4                    251        4
...                  ...      ...
19230              89452        0
19231              89452        0
19232              89452        0
19233              89452        0
19234              89452        0

[19235 rows x 2 columns]

In [39]:
df_ele_1.to_csv('electronics_cleaned_1.csv')
df_ele_2.to_csv('electronics_cleaned_2.csv')
df_ele_3.to_csv('electronics_cleaned_3.csv')

In [59]:
df_uk_ele = pd.DataFrame()

In [62]:
df_uk_ele = pd.concat([df_ele_1, df_ele_2, df_ele_3], ignore_index = True)

In [65]:
df_uk_ele

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location,State,Review,Helpful,Date
0,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,My son loves this set,mrscanty,5.0,United Kingdom,Verified Purchase,This was a Christmas present for my 7 year old...,1,2021-03-16
1,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Hours of engagement and problem solving!,Izzy&Milly,5.0,United Kingdom,Verified Purchase,Bought for my 5 year old nephew who loves usin...,0,2022-01-09
2,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Great product,Mr G,5.0,United Kingdom,nan,We purchased the SC-100 and it's great for our...,1,2019-01-31
3,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Two Stars,Lisa,2.0,United Kingdom,Verified Purchase,Comes alot smaller than expected,0,2016-10-10
4,Snap Circuits Beginner Electronics Discovery K...,4.8,2119,25.99,Four Stars,Caroline McCormack,4.0,United Kingdom,Verified Purchase,Very pleased with all the above items,1,2017-01-17
...,...,...,...,...,...,...,...,...,...,...,...,...
59230,Fire TV Stick Lite with Alexa Voice Remote Lit...,4.7,89452,29.99,good gadget,Amazon Customer,4.0,United Kingdom,Verified Purchase,very good and easy to install,0,2020-12-19
59231,Fire TV Stick Lite with Alexa Voice Remote Lit...,4.7,89452,29.99,Fire TV stick lite !,Phil,5.0,United Kingdom,Verified Purchase,Vast improvement on my previous fire TV stick !,0,2021-10-15
59232,Fire TV Stick Lite with Alexa Voice Remote Lit...,4.7,89452,29.99,perfect,sly,5.0,United Kingdom,Verified Purchase,perfect package,0,2022-01-05
59233,Fire TV Stick Lite with Alexa Voice Remote Lit...,4.7,89452,29.99,I get my favourite channels and I have Netflix...,adam maria,5.0,United Kingdom,Verified Purchase,"Very good ,love it",0,2020-11-25
59234,Fire TV Stick Lite with Alexa Voice Remote Lit...,4.7,89452,29.99,Small but excellent,SueDor,5.0,United Kingdom,Verified Purchase,"Really enjoying the Firestick, easy to use wit...",0,2021-01-06

In [67]:
df_uk_ele = df_uk_ele[df_uk_ele["Location"] == "United Kingdom"]
df_uk_ele.to_csv('electronics_uk_all_dates.csv')

In [68]:
#greater than the start date and smaller than the end date
df_uk_ele_covd_dates = df_uk_ele[(df_uk_ele["Date"] > "2019-12-01") & (df_uk_ele['Date'] <= "2020-04-01")]

In [69]:
df_uk_ele.shape

(40745, 12)

In [70]:
df_uk_ele_covd_dates.shape

(2413, 12)

In [71]:
df_uk_ele_covd_dates.to_csv('electronics_uk_covid_dates.csv')

In [72]:
df_uk_ele_covd_dates["Product"].value_counts()

Canon Genuine Ink Cartridges CL-541XL - Pack of 1- colour (cyan, magenta, yellow) For for PIXMA GM4050, MG3150, MG3510, MG3550, MG3650, MG4250, MX475, MX525, MX535, TS5150, TS5151                        442
Digital Photo Frame 10 inch, Zeccinow Digital Picture Frame with 1920 x 1080 FHD IPS Display, Support Photo/Music/Video Player/Calendar/Alarm, Auto Rotate Electronic Picture Frame with Remote Control    319
WD 4 TB Elements Portable External Hard Drive - USB 3.0, Black                                                                                                                                             310
TP-Link AV600 Powerline Adapter Wi-Fi Kit, Wi-Fi Booster/Hotspot/ Extender, Wi-Fi Speed up to 300Mbps, 2+1 Ethernet Ports, No Configuration Required, Wi-Fi Auto-Sync, UK Plug (TL-WPA4220 KIT)            275
Monopoly Voice Banking Electronic Family Board Game for Ages 8 and up                                                                                                                                      158
Hot Wires Electronics Kit from John Adams                                                                                                                                                                  120
Snap Circuits PLUS Electronics Exploration Kits | Full Color Project Manual | STEM Educational Toy for Kids 8+ (SC-110)                                                                                     52
Snap Circuits PLUS Electronics Exploration Kits | Full Color Project Manual | STEM Educational Toy for Kids 8+ (SC-310)                                                                                     52
Stylophone The Original Pocket Electronic Organ                                                                                                                                                             52
Digital Electronic Bathroom Scale Bath Scales 180KG Backlit Weight Management (Black)                                                                                                                       46
LG Electronics 27GN850 27 Inch Gaming Monitor (2560 x 1440) Nano IPS 1ms GtG, 144Hz, HDR10, G-SYNC Compatible, Black [Amazon Exclusive]                                                                     44
Alesis CompactKit 4 – Tabletop Electric Drum Set with 70 Electronic / Acoustic Drum Kit Sounds, 4 Pads, Battery or AC-Power and Drum Sticks Included                                                        40
Bedside Wireless Charging Non Ticking Radio Alarm Clock with Dimmable LED Display - Mains Powered Dual Alarm Clock with USB Charger and Bluetooth Speaker                                                   40
Salter 1036 SVSSDR Digital Kitchen Weighing Scales - Slim Design Electronic Cooking Appliance for Home / Kitchen, Weigh Food up to 5kg Aquatronic for Liquids ml and fl. Oz. 15Yr Guarantee - Silver        40
Preciva Soldering Iron Station, 60W Professional Digital Soldering Station, 90-480℃ Temperature Adjustable Repair Tool Kit with Soldering Tips, Solder Wire and Frame, Sponge, Suction Device, etc.         35
Victor M250S No Touch, No See Upgraded Electronic Mousetrap Black                                                                                                                                           35
Ring Stick Up Cam Elite by Amazon, HD Security Camera with Two-Way Talk, Black, Works with Alexa                                                                                                            29
VonShef Electric Salt & Pepper Mill Set – Electronic Push Button Operation, Easy Refill & Adjustable Coarseness                                                                                             25
Bose SoundSport Wireless Headphones - Blue                                                                                                                                                                  25
Fellowes Powershred 8Mc, 8 Sheet Micro-Cut Personal Paper Shredder with Safety Lock for Home Use, black                                                                                                     25
awesafe Electronic Shooting Earmuff [ Comes with Hard Travel Storage Carrying Case Bag], GF01+ Noise Reduction Sound Amplification Electronic Safety Ear Muffs and Storage Case (green)                     24
Horstmann Electronic 7 Water Heater, Multi                                                                                                                                                                  17
Tabletop Electronic Drum Set [Bluetooth Upgraded Version], Veetop Foldable Roll up Drum Pad with 2 Foot Pedal, Built-in Speaker, USB/Battery Charge, Great Gift for Kids, Beginners                         14
HUSAN Electronic Money Bank, Electronic Password Piggy Bank Mini ATM Cash Coin Money Box for Kids Birthday Toy for Children (Red)                                                                           14
ASPECTEK Professional Electronic Indoor Insect killer,Bug Zapper,Fly Zapper,Mosquito Killer,30W UV Bulbs for Home & Commercial Use (UK PLUG)                                                                14
ELEGOO Upgraded Electronics Fun Kit w/Power Supply Module, Jumper Wire, Precision Potentiometer, 830 tie-points Breadboard for Arduino UNO R3, MEGA, Raspberry Pi, STM32, Datesheet Available               13
IF Electronic Dictionary Bookmark Single Language Definitions - English, Pink                                                                                                                               13
LEXIBOOK LCG3000_12 ChessLight, Electronic Chess Game with Touch-Sensitive Keyboard and Light and Sound Effects, 32 Pieces, 64 Levels of Difficulty, Battery, Blue/Grey                                     12
Toyrific Children’s Electronic Dartboard with LED Digital Score Display and Plastic Tip Darts                                                                                                               12
Epson 24XL Elephant High Yield Genuine Multipack, 6-colours Claria Photo HD Ink Cartridges, Amazon Dash Replenishment Ready                                                                                 11
Darts Deluxe Electronic Dart Scorer Electronic Scoreboard For Dart Lovers Xmas Gift Dart Players Man Cave Gift                                                                                              10
Hasbro Gaming A3846 Battleship Electronic with Carry Case - Naval Combat Game - 1 to 2 Players - Strategy Board Games - Ages 8+,Black, Grey, Red, Blue                                                       9
Sillbird STEM 12-in-1 Education Solar Robot Toys-190 Pieces DIY Building Science Experiment Kit for kids toys gifts for boys girls Aged 8-10+,Solar Powered by the Sun                                       9
TC Electronic DITTO LOOPER Highly Intuitive Looper Pedal with 5 Minutes of Looping Time, Analog-Dry-Through and True Bypass                                                                                  9
How to Diagnose and Fix Everything Electronic, Second Edition                                                                                                                                                8
WICKED GIZMOS Electronic Drum Mat – Roll Up Digital Music Pad Instrument for Beginners Children - Learn to Play Record your Own Beats – Digital Snare Tom Crash Ride Pedal Sticks (Multi Colour)             7
Snap Circuits SCBRIC1 Structures | Brick & Electronics Exploration Kit STEM & Brick Full Color Project Manual | 20 Parts | 75 Bric-2-Snap Adapters |140+ Brics, Multi-Colour                                 6
Teenii STEM Physics Science Lab Basic Circuit Learning Starter Kit Electricity and Magnetism Experiment for Kids School Students Electromagnetism Elementary Electronics                                     6
Merchant Ambassador Electronic Arcade Basketball                                                                                                                                                             5
LEXIBOOK SCF-328AEN Deluxe Electronic Scrabble Dictionary                                                                                                                                                    5
Rentokil FE35 Electronic Mouse Trap, Black, 17.1x8.8x5.1 cm                                                                                                                                                  4
Roland Td-1K Entry Level Electronic Drum Kit: 15 Different Drum Kits Covering All Genres, 15 In-Built Play Along Tracks, 10 Coach Modes for Learning, 40 Free Lessons From Melodics To Download              4
TC Electronic Dark Matter Distortion Pedal                                                                                                                                                                   4
Gikfun Electronic LED Flashing Lights Soldering Practice Board PCB DIY Kit EK1874                                                                                                                            3
DARTSMATE CHALKIE PLUS +, ELECTRONIC DARTS SCOREBOARD SCORER                                                                                                                                                 2
Practical Electronics for Inventors, Fourth Edition                                                                                                                                                          2
TC Electronic Forcefield Compressor                                                                                                                                                                          2
Chess Genius Pro Electronic Chess Set                                                                                                                                                                        2
ELECTRONICS: OP-AMPS tech notes                                                                                                                                                                              2
My First Learn to Write Workbook: Practice for Kids with Pen Control, Line Tracing, Letters, and More! (My First Preschool Skills Workbooks)                                                                 2
PerfectDarts DARTSMATE CHALKIE ELECTRONIC DARTS SCORER SCOREBOARD RED LED                                                                                                                                    1
Building Blocks Robot Toy, Kids Remote Control STEM Robot Toy Educational Learning DIY Robotics Kit Rechargeable RC Electronic Robots for Boys and Girls 8 Years and Up, Creative Birthday Gift              1
TC Electronic M100 Stereo Multi-Effects Processor with Legendary TC Reverbs and Effects                                                                                                                      1
LeapFrog LeapStart Electronic Book, Educational and Interactive Playbook Toy for Toddler and Pre School Boys & Girls 2, 3, 4, 5, 6, 7 Year Olds, Pink                                                        1
Name: Product, dtype: int64

In [73]:
print(df_uk_ele_covd_dates.groupby("Product")["Date"].describe())

                                                   count unique        top  \
Product
ASPECTEK Professional Electronic Indoor Insect ...    14     14 2019-12-23
Alesis CompactKit 4 – Tabletop Electric Drum Se...    40     17 2020-01-12
Bedside Wireless Charging Non Ticking Radio Ala...    40     31 2020-01-08
Bose SoundSport Wireless Headphones - Blue            25     23 2020-01-02
Building Blocks Robot Toy, Kids Remote Control ...     1      1 2020-02-17
Canon Genuine Ink Cartridges CL-541XL - Pack of...   442    115 2020-01-05
Chess Genius Pro Electronic Chess Set                  2      2 2020-01-30
DARTSMATE CHALKIE PLUS +, ELECTRONIC DARTS SCOR...     2      2 2020-01-31
Darts Deluxe Electronic Dart Scorer Electronic ...    10     10 2020-02-14
Digital Electronic Bathroom Scale Bath Scales 1...    46     38 2020-01-11
Digital Photo Frame 10 inch, Zeccinow Digital P...   319    104 2020-01-13
ELECTRONICS: OP-AMPS tech notes                        2      2 2020-01-10
ELEGOO Upgraded Electronics Fun Kit w/Power Sup...    13     12 2020-01-02
Epson 24XL Elephant High Yield Genuine Multipac...    11     11 2020-03-13
Fellowes Powershred 8Mc, 8 Sheet Micro-Cut Pers...    25     21 2019-12-30
Gikfun Electronic LED Flashing Lights Soldering...     3      3 2020-02-03
HUSAN Electronic Money Bank, Electronic Passwor...    14     13 2020-01-06
Hasbro Gaming A3846 Battleship Electronic with ...     9      8 2020-01-12
Horstmann Electronic 7 Water Heater, Multi            17     16 2020-01-23
Hot Wires Electronics Kit from John Adams            120     39 2020-01-11
How to Diagnose and Fix Everything Electronic, ...     8      4 2020-01-10
IF Electronic Dictionary Bookmark Single Langua...    13     13 2020-03-16
LEXIBOOK LCG3000_12 ChessLight, Electronic Ches...    12      6 2019-12-23
LEXIBOOK SCF-328AEN Deluxe Electronic Scrabble ...     5      5 2019-12-16
LG Electronics 27GN850 27 Inch Gaming Monitor (...    44     35 2020-01-17
LeapFrog LeapStart Electronic Book, Educational...     1      1 2019-12-25
Merchant Ambassador Electronic Arcade Basketball       5      5 2019-12-06
Monopoly Voice Banking Electronic Family Board ...   158     70 2019-12-30
My First Learn to Write Workbook: Practice for ...     2      2 2020-01-12
PerfectDarts DARTSMATE CHALKIE ELECTRONIC DARTS...     1      1 2020-03-18
Practical Electronics for Inventors, Fourth Edi...     2      2 2020-02-07
Preciva Soldering Iron Station, 60W Professiona...    35     25 2020-02-19
Rentokil FE35 Electronic Mouse Trap, Black, 17....     4      3 2020-02-20
Ring Stick Up Cam Elite by Amazon, HD Security ...    29     28 2020-01-16
Roland Td-1K Entry Level Electronic Drum Kit: 1...     4      4 2020-01-31
Salter 1036 SVSSDR Digital Kitchen Weighing Sca...    40     36 2020-01-18
Sillbird STEM 12-in-1 Education Solar Robot Toy...     9      9 2020-02-03
Snap Circuits PLUS Electronics Exploration Kits...    52     21 2020-01-04
Snap Circuits PLUS Electronics Exploration Kits...    52     21 2020-01-04
Snap Circuits SCBRIC1 Structures | Brick & Elec...     6      3 2020-03-08
Stylophone The Original Pocket Electronic Organ       52     23 2020-01-17
TC Electronic DITTO LOOPER Highly Intuitive Loo...     9      8 2019-12-31
TC Electronic Dark Matter Distortion Pedal             4      4 2020-01-31
TC Electronic Forcefield Compressor                    2      2 2020-03-01
TC Electronic M100 Stereo Multi-Effects Process...     1      1 2020-01-26
TP-Link AV600 Powerline Adapter Wi-Fi Kit, Wi-F...   275    110 2020-01-26
Tabletop Electronic Drum Set [Bluetooth Upgrade...    14     14 2020-01-26
Teenii STEM Physics Science Lab Basic Circuit L...     6      5 2020-02-07
Toyrific Children’s Electronic Dartboard with L...    12     10 2020-01-09
Victor M250S No Touch, No See Upgraded Electron...    35     32 2019-12-05
VonShef Electric Salt & Pepper Mill Set – Elect...    25     23 2020-01-17
WD 4 TB Elements Portable External Hard Drive -...   310    106 2020-01-09
WICKED GIZMOS Electronic Drum Mat – Roll Up Dig...     7      6 2020-01-13
awesafe Electronic Shooting Earmuff [ Comes wit...    24     22 2020-02-02

                                                   freq      first       last
Product
ASPECTEK Professional Electronic Indoor Insect ...    1 2019-12-05 2020-02-21
Alesis CompactKit 4 – Tabletop Electric Drum Se...    4 2019-12-24 2020-04-01
Bedside Wireless Charging Non Ticking Radio Ala...    3 2019-12-12 2020-04-01
Bose SoundSport Wireless Headphones - Blue            2 2019-12-08 2020-03-14
Building Blocks Robot Toy, Kids Remote Control ...    1 2020-02-17 2020-02-17
Canon Genuine Ink Cartridges CL-541XL - Pack of...   13 2019-12-02 2020-04-01
Chess Genius Pro Electronic Chess Set                 1 2020-01-30 2020-02-13
DARTSMATE CHALKIE PLUS +, ELECTRONIC DARTS SCOR...    1 2020-01-10 2020-01-31
Darts Deluxe Electronic Dart Scorer Electronic ...    1 2019-12-17 2020-03-23
Digital Electronic Bathroom Scale Bath Scales 1...    3 2019-12-03 2020-04-01
Digital Photo Frame 10 inch, Zeccinow Digital P...   11 2019-12-03 2020-03-31
ELECTRONICS: OP-AMPS tech notes                       1 2020-01-10 2020-01-31
ELEGOO Upgraded Electronics Fun Kit w/Power Sup...    2 2019-12-18 2020-04-01
Epson 24XL Elephant High Yield Genuine Multipac...    1 2019-12-02 2020-03-13
Fellowes Powershred 8Mc, 8 Sheet Micro-Cut Pers...    3 2019-12-06 2020-03-09
Gikfun Electronic LED Flashing Lights Soldering...    1 2020-01-25 2020-03-31
HUSAN Electronic Money Bank, Electronic Passwor...    2 2019-12-26 2020-03-31
Hasbro Gaming A3846 Battleship Electronic with ...    2 2019-12-06 2020-02-14
Horstmann Electronic 7 Water Heater, Multi            2 2019-12-10 2020-04-01
Hot Wires Electronics Kit from John Adams             6 2019-12-05 2020-03-21
How to Diagnose and Fix Everything Electronic, ...    2 2019-12-08 2020-02-29
IF Electronic Dictionary Bookmark Single Langua...    1 2019-12-04 2020-04-01
LEXIBOOK LCG3000_12 ChessLight, Electronic Ches...    2 2019-12-23 2020-03-15
LEXIBOOK SCF-328AEN Deluxe Electronic Scrabble ...    1 2019-12-16 2020-03-17
LG Electronics 27GN850 27 Inch Gaming Monitor (...    3 2019-12-02 2020-03-29
LeapFrog LeapStart Electronic Book, Educational...    1 2019-12-25 2019-12-25
Merchant Ambassador Electronic Arcade Basketball      1 2019-12-03 2020-01-14
Monopoly Voice Banking Electronic Family Board ...    7 2019-12-03 2020-03-28
My First Learn to Write Workbook: Practice for ...    1 2019-12-11 2020-01-12
PerfectDarts DARTSMATE CHALKIE ELECTRONIC DARTS...    1 2020-03-18 2020-03-18
Practical Electronics for Inventors, Fourth Edi...    1 2020-02-07 2020-04-01
Preciva Soldering Iron Station, 60W Professiona...    4 2019-12-06 2020-03-30
Rentokil FE35 Electronic Mouse Trap, Black, 17....    2 2019-12-28 2020-02-20
Ring Stick Up Cam Elite by Amazon, HD Security ...    2 2019-12-14 2020-03-29
Roland Td-1K Entry Level Electronic Drum Kit: 1...    1 2020-01-29 2020-03-01
Salter 1036 SVSSDR Digital Kitchen Weighing Sca...    2 2019-12-02 2020-03-31
Sillbird STEM 12-in-1 Education Solar Robot Toy...    1 2019-12-25 2020-03-09
Snap Circuits PLUS Electronics Exploration Kits...    6 2019-12-10 2020-03-21
Snap Circuits PLUS Electronics Exploration Kits...    6 2019-12-10 2020-03-21
Snap Circuits SCBRIC1 Structures | Brick & Elec...    2 2019-12-14 2020-03-08
Stylophone The Original Pocket Electronic Organ       4 2019-12-04 2020-03-28
TC Electronic DITTO LOOPER Highly Intuitive Loo...    2 2019-12-31 2020-03-28
TC Electronic Dark Matter Distortion Pedal            1 2020-01-06 2020-02-11
TC Electronic Forcefield Compressor                   1 2020-01-24 2020-03-01
TC Electronic M100 Stereo Multi-Effects Process...    1 2020-01-26 2020-01-26
TP-Link AV600 Powerline Adapter Wi-Fi Kit, Wi-F...    8 2019-12-03 2020-04-01
Tabletop Electronic Drum Set [Bluetooth Upgrade...    1 2019-12-10 2020-02-15
Teenii STEM Physics Science Lab Basic Circuit L...    2 2019-12-09 2020-02-23
Toyrific Children’s Electronic Dartboard with L...    2 2019-12-05 2020-04-01
Victor M250S No Touch, No See Upgraded Electron...    2 2019-12-02 2020-04-01
VonShef Electric Salt & Pepper Mill Set – Elect...    2 2019-12-10 2020-03-23
WD 4 TB Elements Portable External Hard Drive -...   10 2019-12-03 2020-03-31
WICKED GIZMOS Electronic Drum Mat – Roll Up Dig...    2 2019-12-26 2020-03-22
awesafe Electronic Shooting Earmuff [ Comes wit...    3 2019-12-11 2020-03-15

C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))