In [86]:
import pandas as pd
import numpy as np
import re
import datetime

In [87]:
df_health_1 = pd.read_excel("Amazon.co.uk _ health care_raw_1.xlsx")
df_health_2 = pd.read_excel("Amazon.co.uk _ health care_raw_2.xlsx")
df_health_3 = pd.read_excel("Amazon.co.uk _ health care_raw_3.xlsx")
df_health_4 = pd.read_excel("Amazon.co.uk _ health care_raw_4.xlsx")
df_health_5 = pd.read_excel("Amazon.co.uk _ health care_raw_5.xlsx")
df_health_6 = pd.read_excel("Amazon.co.uk _ health care_raw_6.xlsx")

In [88]:
df_health_1.describe()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,Product Description,State,Review,Helpful
count,960,959,959,6,658,957,957,957,6,947,957,144
unique,8,4,7,4,436,855,5,873,4,1,936,18
top,NRS Healthcare M15691 Portable Overbed/Chair T...,4.5 out of 5 stars,"2,547 ratings",£15\n.\n99,Five Stars,Amazon Customer,5.0 out of 5 stars,Reviewed in the United Kingdom on 23 February ...,Colour Name: GreySize Name: English,Verified Purchase,Good,One person found this helpful
freq,872,872,872,3,106,54,631,3,3,947,4,69

In [89]:
df_health_1[['Overall Stars', "Individual Review"]] = df_health_1[['Overall Stars', "Individual Review"]].apply(lambda x: x.str.rstrip(' out of 5 stars'))
df_health_2[['Overall Stars', "Individual Review"]] = df_health_2[['Overall Stars', "Individual Review"]].apply(lambda x: x.str.rstrip(' out of 5 stars'))
df_health_3[['Overall Stars', "Individual Review"]] = df_health_3[['Overall Stars', "Individual Review"]].apply(lambda x: x.str.rstrip(' out of 5 stars'))
df_health_4[['Overall Stars', "Individual Review"]] = df_health_4[['Overall Stars', "Individual Review"]].apply(lambda x: x.str.rstrip(' out of 5 stars'))
df_health_5[['Overall Stars', "Individual Review"]] = df_health_5[['Overall Stars', "Individual Review"]].apply(lambda x: x.str.rstrip(' out of 5 stars'))
df_health_6[['Overall Stars', "Individual Review"]] = df_health_6[['Overall Stars', "Individual Review"]].apply(lambda x: x.str.rstrip(' out of 5 stars'))

In [90]:
df_health_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,Product Description,State,Review,Helpful
0,Garden of Life Raw Probiotics Vaginal Care (Sh...,4.6,"3,859 ratings",£33\n.\n51,Poor.,Meg Rowse,1.0,Reviewed in the United Kingdom on 25 April 2021,NaN,Verified Purchase,The wrong product came - I somehow ended up wi...,4 people found this helpful
1,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375 ratings,NaN,Good selection of different sizes,GeoffC,5.0,Reviewed in the United Kingdom on 24 April 2021,NaN,Verified Purchase,Very useful selection of inter dental brushes ...,NaN
2,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375 ratings,NaN,Very Practical,Betty Boop,5.0,Reviewed in the United Kingdom on 26 July 2020,NaN,Verified Purchase,I used to order the different coloured brushes...,NaN
3,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375 ratings,NaN,worth it,julie middleton,5.0,Reviewed in the United Kingdom on 2 January 2020,NaN,Verified Purchase,Fine it you have different size gaps between y...,NaN
4,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375 ratings,NaN,Great starter kit to find the correct size.,Natalie,5.0,Reviewed in the United Kingdom on 18 October 2021,NaN,Verified Purchase,I never really knew which size to buy so this ...,NaN

In [91]:
df_health_1['Location and Date'].describe()

count                                                   957
unique                                                  873
top       Reviewed in the United Kingdom on 23 February ...
freq                                                      3
Name: Location and Date, dtype: object

In [92]:
df_health_1['Location and Date'] = df_health_1['Location and Date'].astype(str)
df_health_2['Location and Date'] = df_health_2['Location and Date'].astype(str)
df_health_3['Location and Date'] = df_health_3['Location and Date'].astype(str)
df_health_4['Location and Date'] = df_health_4['Location and Date'].astype(str)
df_health_5['Location and Date'] = df_health_5['Location and Date'].astype(str)
df_health_6['Location and Date'] = df_health_6['Location and Date'].astype(str)

In [93]:
df_health_1['Location and Date'] = df_health_1['Location and Date'].apply(lambda x: x.lstrip('Reviewed in the '))
df_health_2['Location and Date'] = df_health_2['Location and Date'].apply(lambda x: x.lstrip('Reviewed in the '))
df_health_3['Location and Date'] = df_health_3['Location and Date'].apply(lambda x: x.lstrip('Reviewed in the '))
df_health_4['Location and Date'] = df_health_4['Location and Date'].apply(lambda x: x.lstrip('Reviewed in the '))
df_health_5['Location and Date'] = df_health_5['Location and Date'].apply(lambda x: x.lstrip('Reviewed in the '))
df_health_6['Location and Date'] = df_health_6['Location and Date'].apply(lambda x: x.lstrip('Reviewed in the '))

In [94]:
df_health_1['Number of Reviews'] = df_health_1['Number of Reviews'].astype(str)
df_health_2['Number of Reviews'] = df_health_2['Number of Reviews'].astype(str)
df_health_3['Number of Reviews'] = df_health_3['Number of Reviews'].astype(str)
df_health_4['Number of Reviews'] = df_health_4['Number of Reviews'].astype(str)
df_health_5['Number of Reviews'] = df_health_5['Number of Reviews'].astype(str)
df_health_6['Number of Reviews'] = df_health_6['Number of Reviews'].astype(str)

In [95]:
df_health_1['Number of Reviews'] = df_health_1['Number of Reviews'].apply(lambda x: x.replace(',',''))
df_health_2['Number of Reviews'] = df_health_2['Number of Reviews'].apply(lambda x: x.replace(',',''))
df_health_3['Number of Reviews'] = df_health_3['Number of Reviews'].apply(lambda x: x.replace(',',''))
df_health_4['Number of Reviews'] = df_health_4['Number of Reviews'].apply(lambda x: x.replace(',',''))
df_health_5['Number of Reviews'] = df_health_5['Number of Reviews'].apply(lambda x: x.replace(',',''))
df_health_6['Number of Reviews'] = df_health_6['Number of Reviews'].apply(lambda x: x.replace(',',''))

In [96]:
df_health_1['Number of Reviews'] = df_health_1['Number of Reviews'].apply(lambda x: x.rstrip(' ratings'))
df_health_2['Number of Reviews'] = df_health_2['Number of Reviews'].apply(lambda x: x.rstrip(' ratings'))
df_health_3['Number of Reviews'] = df_health_3['Number of Reviews'].apply(lambda x: x.rstrip(' ratings'))
df_health_4['Number of Reviews'] = df_health_4['Number of Reviews'].apply(lambda x: x.rstrip(' ratings'))
df_health_5['Number of Reviews'] = df_health_5['Number of Reviews'].apply(lambda x: x.rstrip(' ratings'))
df_health_6['Number of Reviews'] = df_health_6['Number of Reviews'].apply(lambda x: x.rstrip(' ratings'))

In [97]:
df_health_1['Helpful'] = df_health_1['Helpful'].astype(str)
df_health_2['Helpful'] = df_health_2['Helpful'].astype(str)
df_health_3['Helpful'] = df_health_3['Helpful'].astype(str)
df_health_4['Helpful'] = df_health_4['Helpful'].astype(str)
df_health_5['Helpful'] = df_health_5['Helpful'].astype(str)
df_health_6['Helpful'] = df_health_6['Helpful'].astype(str)

In [98]:
df_health_1['Helpful'] = df_health_1['Helpful'].apply(lambda x: x.replace(',',''))
df_health_2['Helpful'] = df_health_2['Helpful'].apply(lambda x: x.replace(',',''))
df_health_3['Helpful'] = df_health_3['Helpful'].apply(lambda x: x.replace(',',''))
df_health_4['Helpful'] = df_health_4['Helpful'].apply(lambda x: x.replace(',',''))
df_health_5['Helpful'] = df_health_5['Helpful'].apply(lambda x: x.replace(',',''))
df_health_6['Helpful'] = df_health_6['Helpful'].apply(lambda x: x.replace(',',''))

In [99]:
df_health_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,Product Description,State,Review,Helpful
0,Garden of Life Raw Probiotics Vaginal Care (Sh...,4.6,3859,£33\n.\n51,Poor.,Meg Rowse,1.0,United Kingdom on 25 April 2021,NaN,Verified Purchase,The wrong product came - I somehow ended up wi...,4 people found this helpful
1,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,NaN,Good selection of different sizes,GeoffC,5.0,United Kingdom on 24 April 2021,NaN,Verified Purchase,Very useful selection of inter dental brushes ...,nan
2,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,NaN,Very Practical,Betty Boop,5.0,United Kingdom on 26 July 2020,NaN,Verified Purchase,I used to order the different coloured brushes...,nan
3,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,NaN,worth it,julie middleton,5.0,United Kingdom on 2 January 2020,NaN,Verified Purchase,Fine it you have different size gaps between y...,nan
4,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,NaN,Great starter kit to find the correct size.,Natalie,5.0,United Kingdom on 18 October 2021,NaN,Verified Purchase,I never really knew which size to buy so this ...,nan

In [100]:
df_health_1["Date"] = df_health_1["Location and Date"]
df_health_2["Date"] = df_health_2["Location and Date"]
df_health_3["Date"] = df_health_3["Location and Date"]
df_health_4["Date"] = df_health_4["Location and Date"]
df_health_5["Date"] = df_health_5["Location and Date"]
df_health_6["Date"] = df_health_6["Location and Date"]

In [101]:
df_health_1["Date"] = df_health_1["Date"].apply(lambda x: x.split(' on ')[-1].strip())
df_health_2["Date"] = df_health_2["Date"].apply(lambda x: x.split(' on ')[-1].strip())
df_health_3["Date"] = df_health_3["Date"].apply(lambda x: x.split(' on ')[-1].strip())
df_health_4["Date"] = df_health_4["Date"].apply(lambda x: x.split(' on ')[-1].strip())
df_health_5["Date"] = df_health_5["Date"].apply(lambda x: x.split(' on ')[-1].strip())
df_health_6["Date"] = df_health_6["Date"].apply(lambda x: x.split(' on ')[-1].strip())

In [102]:
df_health_1["Location and Date"] = df_health_1["Location and Date"].apply(lambda x: x.split(' on ')[0].strip())
df_health_2["Location and Date"] = df_health_2["Location and Date"].apply(lambda x: x.split(' on ')[0].strip())
df_health_3["Location and Date"] = df_health_3["Location and Date"].apply(lambda x: x.split(' on ')[0].strip())
df_health_4["Location and Date"] = df_health_4["Location and Date"].apply(lambda x: x.split(' on ')[0].strip())
df_health_5["Location and Date"] = df_health_5["Location and Date"].apply(lambda x: x.split(' on ')[0].strip())
df_health_6["Location and Date"] = df_health_6["Location and Date"].apply(lambda x: x.split(' on ')[0].strip())

In [103]:
df_health_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,Product Description,State,Review,Helpful,Date
0,Garden of Life Raw Probiotics Vaginal Care (Sh...,4.6,3859,£33\n.\n51,Poor.,Meg Rowse,1.0,United Kingdom,NaN,Verified Purchase,The wrong product came - I somehow ended up wi...,4 people found this helpful,25 April 2021
1,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,NaN,Good selection of different sizes,GeoffC,5.0,United Kingdom,NaN,Verified Purchase,Very useful selection of inter dental brushes ...,nan,24 April 2021
2,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,NaN,Very Practical,Betty Boop,5.0,United Kingdom,NaN,Verified Purchase,I used to order the different coloured brushes...,nan,26 July 2020
3,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,NaN,worth it,julie middleton,5.0,United Kingdom,NaN,Verified Purchase,Fine it you have different size gaps between y...,nan,2 January 2020
4,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,NaN,Great starter kit to find the correct size.,Natalie,5.0,United Kingdom,NaN,Verified Purchase,I never really knew which size to buy so this ...,nan,18 October 2021

In [104]:
df_health_1.rename(columns={"Location and Date": "Location"}, inplace = True)
df_health_2.rename(columns={"Location and Date": "Location"}, inplace = True)
df_health_3.rename(columns={"Location and Date": "Location"}, inplace = True)
df_health_4.rename(columns={"Location and Date": "Location"}, inplace = True)
df_health_5.rename(columns={"Location and Date": "Location"}, inplace = True)
df_health_6.rename(columns={"Location and Date": "Location"}, inplace = True)

In [105]:
df_health_1['Price'] = df_health_1['Price'].astype(str)
df_health_2['Price'] = df_health_2['Price'].astype(str)
df_health_3['Price'] = df_health_3['Price'].astype(str)
df_health_4['Price'] = df_health_4['Price'].astype(str)
df_health_5['Price'] = df_health_5['Price'].astype(str)
df_health_6['Price'] = df_health_6['Price'].astype(str)

In [106]:
df_health_1['Price'] = df_health_1['Price'].apply(lambda x: x.replace('\n.\n','.'))
df_health_2['Price'] = df_health_2['Price'].apply(lambda x: x.replace('\n.\n','.'))
df_health_3['Price'] = df_health_3['Price'].apply(lambda x: x.replace('\n.\n','.'))
df_health_4['Price'] = df_health_4['Price'].apply(lambda x: x.replace('\n.\n','.'))
df_health_5['Price'] = df_health_5['Price'].apply(lambda x: x.replace('\n.\n','.'))
df_health_6['Price'] = df_health_6['Price'].apply(lambda x: x.replace('\n.\n','.'))

In [107]:
df_health_1['Price'] = df_health_1['Price'].apply(lambda x: x.replace('£',''))
df_health_2['Price'] = df_health_2['Price'].apply(lambda x: x.replace('£',''))
df_health_3['Price'] = df_health_3['Price'].apply(lambda x: x.replace('£',''))
df_health_4['Price'] = df_health_4['Price'].apply(lambda x: x.replace('£',''))
df_health_5['Price'] = df_health_5['Price'].apply(lambda x: x.replace('£',''))
df_health_6['Price'] = df_health_6['Price'].apply(lambda x: x.replace('£',''))

In [108]:
df_health_1[["day","month", "year"]] = df_health_1["Date"].apply(lambda x: pd.Series(x.split(' ')))
df_health_2[["day","month", "year"]] = df_health_2["Date"].apply(lambda x: pd.Series(x.split(' ')))
df_health_3[["day","month", "year"]] = df_health_3["Date"].apply(lambda x: pd.Series(x.split(' ')))
df_health_4[["day","month", "year"]] = df_health_4["Date"].apply(lambda x: pd.Series(x.split(' ')))
df_health_5[["day","month", "year"]] = df_health_5["Date"].apply(lambda x: pd.Series(x.split(' ')))
df_health_6[["day","month", "year"]] = df_health_6["Date"].apply(lambda x: pd.Series(x.split(' ')))

In [109]:
df_health_1["Date"] = pd.to_datetime(df_health_1['year'].astype(str)  + df_health_1['month'] + df_health_1["day"], format='%Y%B%d')
df_health_2["Date"] = pd.to_datetime(df_health_2['year'].astype(str)  + df_health_2['month'] + df_health_2["day"], format='%Y%B%d')
df_health_3["Date"] = pd.to_datetime(df_health_3['year'].astype(str)  + df_health_3['month'] + df_health_3["day"], format='%Y%B%d')
df_health_4["Date"] = pd.to_datetime(df_health_4['year'].astype(str)  + df_health_4['month'] + df_health_4["day"], format='%Y%B%d')
df_health_5["Date"] = pd.to_datetime(df_health_5['year'].astype(str)  + df_health_5['month'] + df_health_5["day"], format='%Y%B%d')
df_health_6["Date"] = pd.to_datetime(df_health_6['year'].astype(str)  + df_health_6['month'] + df_health_6["day"], format='%Y%B%d')

In [110]:
df_health_4.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location,Product Description,State,Review,Helpful,Date,day,month,year
0,The 6-Minute Diary | Gratitude Journal for Men...,4.6,5560,nan,NaN,FLDanae,3.0,Spain,Colour Name: Dusty RoseSize Name: English,Verified Purchase,"Tiene exactamente 78 páginas de ""introducción""...",3 people found this helpful,2021-12-06,6,December,2021
1,The 6-Minute Diary | Gratitude Journal for Men...,4.6,5560,nan,NaN,A. G.,5.0,Germany,Colour Name: GreySize Name: English,Verified Purchase,"Ein tolles Tagebuch, das nicht viel Zeit brauc...",3 people found this helpful,2019-01-09,9,January,2019
2,The 6-Minute Diary | Gratitude Journal for Men...,4.6,5560,nan,NaN,Nadine,5.0,Germany,Colour Name: Dusty RoseSize Name: English,Verified Purchase,Ich hab mir die englische Version (nochmal 100...,nan,2021-01-13,13,January,2021
3,The 6-Minute Diary | Gratitude Journal for Men...,4.6,5560,nan,NaN,Alicia,5.0,Germany,Colour Name: Sky BlueSize Name: English,Verified Purchase,If only I had known how much a journal can cha...,nan,2021-04-17,17,April,2021
4,The 6-Minute Diary | Gratitude Journal for Men...,4.6,5560,nan,NaN,Cliente Amazon,4.0,Italy,Colour Name: Sky BlueSize Name: English,Verified Purchase,"Davvero un bellissimo diario, qualità dei mate...",nan,2021-06-04,4,June,2021

In [111]:
df_health_1.drop(columns = ["day", "month", "year"], inplace= True)
df_health_2.drop(columns = ["day", "month", "year"], inplace= True)
df_health_3.drop(columns = ["day", "month", "year"], inplace= True)
df_health_4.drop(columns = ["day", "month", "year"], inplace= True)
df_health_5.drop(columns = ["day", "month", "year"], inplace= True)
df_health_6.drop(columns = ["day", "month", "year"], inplace= True)

In [112]:
df_health_1["Helpful"] = df_health_1["Helpful"].apply(lambda x: x.rstrip('people found this helpful'))
df_health_2["Helpful"] = df_health_2["Helpful"].apply(lambda x: x.rstrip('people found this helpful'))
df_health_3["Helpful"] = df_health_3["Helpful"].apply(lambda x: x.rstrip('people found this helpful'))
df_health_4["Helpful"] = df_health_4["Helpful"].apply(lambda x: x.rstrip('people found this helpful'))
df_health_5["Helpful"] = df_health_5["Helpful"].apply(lambda x: x.rstrip('people found this helpful'))
df_health_6["Helpful"] = df_health_6["Helpful"].apply(lambda x: x.rstrip('people found this helpful'))

In [113]:
df_health_1["Helpful"].replace(['One per', "na"], [1, 0], inplace = True)
df_health_2["Helpful"].replace(['One per', "na"], [1, 0], inplace = True)
df_health_3["Helpful"].replace(['One per', "na"], [1, 0], inplace = True)
df_health_4["Helpful"].replace(['One per', "na"], [1, 0], inplace = True)
df_health_5["Helpful"].replace(['One per', "na"], [1, 0], inplace = True)
df_health_6["Helpful"].replace(['One per', "na"], [1, 0], inplace = True)

In [114]:
df_health_1["Number of Reviews"].replace('', 0, inplace=True)
df_health_2["Number of Reviews"].replace('', 0, inplace=True)
df_health_3["Number of Reviews"].replace('', 0, inplace=True)
df_health_4["Number of Reviews"].replace('', 0, inplace=True)
df_health_5["Number of Reviews"].replace('', 0, inplace=True)
df_health_6["Number of Reviews"].replace('', 0, inplace=True)

In [115]:
df_health_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Product              960 non-null    object
 1   Overall Stars        959 non-null    object
 2   Number of Reviews    960 non-null    object
 3   Price                960 non-null    object
 4   Title of Review      658 non-null    object
 5   Name                 957 non-null    object
 6   Individual Review    957 non-null    object
 7   Location             960 non-null    object
 8   Product Description  6 non-null      object
 9   State                947 non-null    object
 10  Review               957 non-null    object
 11  Helpful              960 non-null    object
 12  Date                 957 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(12)
memory usage: 97.6+ KB

In [116]:
df_health_1[["Product", "Title of Review", "Name", "Location", "State", "Review"]].astype(str).dtypes
df_health_1[["Overall Stars", "Price", "Individual Review"]].astype(float)
df_health_1[["Number of Reviews", "Helpful"]].astype(int)

     Number of Reviews  Helpful
0                 3859        4
1                  375        0
2                  375        0
3                  375        0
4                  375        0
..                 ...      ...
955                 33        0
956                319        0
957                319        1
958                319        0
959                  0        0

[960 rows x 2 columns]

In [117]:
df_health_2[["Product", "Title of Review", "Name", "Location", "State", "Review"]].astype(str).dtypes
df_health_2[["Overall Stars", "Price", "Individual Review"]].astype(float)
df_health_2[["Number of Reviews", "Helpful"]].astype(int)

     Number of Reviews  Helpful
0                 2245        0
1                 2245        0
2                 2245        0
3                 2245        0
4                 2245        0
..                 ...      ...
197               1406       48
198               1406       18
199               1406        2
200               1406        3
201               1406        3

[202 rows x 2 columns]

In [118]:
df_health_3[["Product", "Title of Review", "Name", "Location", "State", "Review"]].astype(str).dtypes
df_health_3[["Overall Stars", "Price", "Individual Review"]].astype(float)
df_health_3[["Number of Reviews", "Helpful"]].astype(int)

       Number of Reviews  Helpful
0                   2441        0
1                   2441        0
2                   2441        0
3                   2441        0
4                   2441        0
...                  ...      ...
19995               2245        0
19996               2245        1
19997               2245        0
19998               2245        0
19999               2245        0

[20000 rows x 2 columns]

In [119]:
df_health_4[["Product", "Title of Review", "Name", "Location", "State", "Review"]].astype(str).dtypes
df_health_4[["Overall Stars", "Price", "Individual Review"]].astype(float)
df_health_4[["Number of Reviews", "Helpful"]].astype(int)

       Number of Reviews  Helpful
0                   5560        3
1                   5560        3
2                   5560        0
3                   5560        0
4                   5560        0
...                  ...      ...
19995               2441        0
19996               2441        0
19997               2441        2
19998               2441        0
19999               2441        0

[20000 rows x 2 columns]

In [120]:
df_health_5[["Product", "Title of Review", "Name", "Location", "State", "Review"]].astype(str).dtypes
df_health_5[["Overall Stars", "Price", "Individual Review"]].astype(float)
df_health_5[["Number of Reviews", "Helpful"]].astype(int)

       Number of Reviews  Helpful
0                   6690        3
1                   6690        0
2                   6690        1
3                   6690        0
4                   6690        0
...                  ...      ...
19995               5560        3
19996               5560        2
19997               5560        1
19998               5560        3
19999               5560        6

[20000 rows x 2 columns]

In [121]:
df_health_6[["Product", "Title of Review", "Name", "Location", "State", "Review"]].astype(str)
df_health_6[["Overall Stars", "Price", "Individual Review"]].astype(float)
df_health_6[["Number of Reviews", "Helpful"]].astype(int)

       Number of Reviews  Helpful
0                    107        0
1                    107        1
2                    107        4
3                    107        0
4                    107        0
...                  ...      ...
19995               6690        1
19996               6690        0
19997               6690        0
19998               6690        0
19999               6690        5

[20000 rows x 2 columns]

In [126]:
df_uk_health = pd.DataFrame()

In [127]:
df_uk_health = pd.concat([df_health_1, df_health_2, df_health_3, df_health_4, df_health_5, df_health_6], ignore_index = True)

In [128]:
df_uk_health

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location,Product Description,State,Review,Helpful,Date
0,Garden of Life Raw Probiotics Vaginal Care (Sh...,4.6,3859,33.51,Poor.,Meg Rowse,1.0,United Kingdom,NaN,Verified Purchase,The wrong product came - I somehow ended up wi...,4,2021-04-25
1,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,nan,Good selection of different sizes,GeoffC,5.0,United Kingdom,NaN,Verified Purchase,Very useful selection of inter dental brushes ...,0,2021-04-24
2,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,nan,Very Practical,Betty Boop,5.0,United Kingdom,NaN,Verified Purchase,I used to order the different coloured brushes...,0,2020-07-26
3,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,nan,worth it,julie middleton,5.0,United Kingdom,NaN,Verified Purchase,Fine it you have different size gaps between y...,0,2020-01-02
4,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,nan,Great starter kit to find the correct size.,Natalie,5.0,United Kingdom,NaN,Verified Purchase,I never really knew which size to buy so this ...,0,2021-10-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81157,"The 6-Minute Diary Pure | Gratitude Journal, M...",4.6,6690,nan,NaN,Nico Patidis,5.0,Germany,NaN,Verified Purchase,"Das Buch ist vile mehr als ein Buch, es ist me...",1,2019-10-28
81158,"The 6-Minute Diary Pure | Gratitude Journal, M...",4.6,6690,nan,NaN,Faith,5.0,Germany,Colour Name: EcruSize Name: German,Verified Purchase,Ich habe schon das „6-Minuten-Tagebuch“ genutz...,0,2020-11-30
81159,"The 6-Minute Diary Pure | Gratitude Journal, M...",4.6,6690,nan,NaN,Amazon Kunde,5.0,Germany,NaN,Verified Purchase,Eigentlich schreibe ich ja keine Rezensionen.....,0,2020-10-15
81160,"The 6-Minute Diary Pure | Gratitude Journal, M...",4.6,6690,nan,NaN,Stephanie Scholpp,5.0,Germany,Colour Name: Dusky PinkSize Name: German,Verified Purchase,Ich habe mit der ersten Version des 6-Minuten ...,0,2020-06-27
81161,"The 6-Minute Diary Pure | Gratitude Journal, M...",4.6,6690,nan,NaN,Amazon Kunde,5.0,Germany,Colour Name: EcruSize Name: German,Verified Purchase,Dieses Buch macht mir jeden Tag auf's neue deu...,5,2018-07-26

In [131]:
df_uk_health["Location"].value_counts()

United Kingdom    58618
Name: Location, dtype: int64

In [130]:
df_uk_health = df_uk_health[df_uk_health["Location"] == "United Kingdom"]
df_uk_health.to_csv('health_care_uk_all_dates.csv')

In [132]:
df_uk_health_covd_dates = df_uk_health[(df_uk_health["Date"] > "2019-12-01") & (df_uk_health['Date'] <= "2020-04-01")]

In [133]:
df_uk_health_covd_dates.shape

(4105, 13)

In [134]:
df_uk_health_covd_dates.to_csv('health_care_uk_covid_dates.csv')

In [135]:
print(df_uk_health_covd_dates.groupby("Product")["Date"].describe())

                                                   count unique        top  \
Product
Alexandra | Men's | Healthcare Tunic | Ideal fo...     1      1 2020-01-25
Alexandra | Women's | Contrast Trim Tunic (Zip)...     2      2 2020-01-29
Baby Grooming Kit, Infant Baby Healthcare Kit, ...   419    114 2020-01-05
Bodyclock Health Care Ltd - Self Adhesive Elect...    35      5 2020-01-09
Boxclever Press Luxury A5 Diary Cover. Textured...    33     11 2020-01-17
Burde Diary 2022 Life Planner Pink | 20 Decembe...    27     24 2019-12-29
Dental Care Kit for Plaque Removal 4 Piece Tool...     8      4 2020-02-24
Eye Complex 7: Lutein, Meso-Zeaxanthin, Zeaxant...    48     22 2020-01-10
FLO Organic Non-Applicator Highly Absorbent Org...     1      1 2020-03-06
Foot Pads,Foot Patches, 100Pcs Feet Pads to Rem...    16      4 2019-12-23
Garden of Life Raw Probiotics Vaginal Care (She...     5      1 2019-12-17
GoGirl Planner and Organizer for Women – Compac...   218     61 2020-01-21
Harvest Healthcare Modular Foam Pressure Care C...    10      5 2020-02-24
Healifty 20pcs Disposable Vaginal Applicators P...     5      5 2020-01-15
Hibiscrub Health Care, 500ml                         822     82 2020-03-01
Hill's Science Plan Adult Oral Care Dry Cat Foo...     2      2 2020-01-29
Leucillin Natural Antiseptic Spray | Antibacter...    88     38 2020-02-24
Leucillin Natural Antiseptic Spray | Antibacter...    95     17 2020-01-06
Lictin Baby Grooming Kit Newborn - 12PCS Baby H...     3      3 2020-03-04
Lictin Baby Health Care Kit - Baby Grooming Kit...   245     38 2020-03-30
Listerine Total Care 10 in Sensitive Mouthwash,...    60     18 2020-03-11
Listerine Total Care Mouthwash, 600 ml                60     18 2019-12-04
Medela Women's Easy Expression Bustier - for Co...    54     17 2020-01-12
NRS Healthcare Easi 2 Drink Mug With Anti Spill...     1      1 2020-03-04
NRS Healthcare Incontinence Care Waterproof Bed...    52     15 2020-02-15
NRS Healthcare M03792 Home Helper Trolley - STA...    39     12 2020-01-19
NRS Healthcare M15691 Portable Overbed/Chair Ta...    72     18 2020-01-23
NRS Healthcare M80282 Kura Care Easy Grip Child...    38     19 2020-01-29
NRS Healthcare Reflect Castellated Memory Foam ...    20     10 2019-12-23
Oxbow Animal Health Critical Care, Herbivore, A...    15      3 2020-02-20
Seven Seas JointCare Active, With Glucosamine, ...    21      7 2019-12-20
Seven Seas JointCare Supplex & Turmeric, With G...    60     14 2020-03-29
TePe Oral Health Care, Interdental Brush, Mixed...    15      5 2020-01-23
The 6-Minute Diary Pure | Gratitude Journal, Mi...   140     24 2020-01-04
The 6-Minute Diary | Gratitude Journal for Men ...   609     82 2020-01-08
The Reading Glasses for Men and Women 2 Pack +1...     5      5 2020-02-03
Tommee Tippee Healthcare Kit for Baby, Black, 9...   600     89 2020-02-24
Troo Health Care CoQ10 (100 mg) Plus - 180 Caps...     4      4 2020-01-27
Wright's Traditional Coal Tar Soap 002629, 500 ...   156     24 2020-03-29
Zendium Gum Care Toothpaste, BioGum Toothpaste,...     1      1 2020-01-06

                                                   freq      first       last
Product
Alexandra | Men's | Healthcare Tunic | Ideal fo...    1 2020-01-25 2020-01-25
Alexandra | Women's | Contrast Trim Tunic (Zip)...    1 2020-01-29 2020-03-10
Baby Grooming Kit, Infant Baby Healthcare Kit, ...   13 2019-12-02 2020-04-01
Bodyclock Health Care Ltd - Self Adhesive Elect...    7 2019-12-02 2020-03-28
Boxclever Press Luxury A5 Diary Cover. Textured...    3 2019-12-13 2020-03-29
Burde Diary 2022 Life Planner Pink | 20 Decembe...    3 2019-12-08 2020-03-18
Dental Care Kit for Plaque Removal 4 Piece Tool...    2 2020-02-11 2020-03-16
Eye Complex 7: Lutein, Meso-Zeaxanthin, Zeaxant...    4 2019-12-03 2020-03-29
FLO Organic Non-Applicator Highly Absorbent Org...    1 2020-03-06 2020-03-06
Foot Pads,Foot Patches, 100Pcs Feet Pads to Rem...    4 2019-12-23 2020-02-24
Garden of Life Raw Probiotics Vaginal Care (She...    5 2019-12-17 2019-12-17
GoGirl Planner and Organizer for Women – Compac...   14 2019-12-03 2020-03-30
Harvest Healthcare Modular Foam Pressure Care C...    2 2019-12-16 2020-03-05
Healifty 20pcs Disposable Vaginal Applicators P...    1 2019-12-12 2020-03-12
Hibiscrub Health Care, 500ml                         24 2019-12-04 2020-03-30
Hill's Science Plan Adult Oral Care Dry Cat Foo...    1 2020-01-29 2020-03-10
Leucillin Natural Antiseptic Spray | Antibacter...    8 2019-12-07 2020-03-28
Leucillin Natural Antiseptic Spray | Antibacter...   10 2019-12-09 2020-03-29
Lictin Baby Grooming Kit Newborn - 12PCS Baby H...    1 2020-03-04 2020-03-26
Lictin Baby Health Care Kit - Baby Grooming Kit...   20 2019-12-11 2020-03-30
Listerine Total Care 10 in Sensitive Mouthwash,...    6 2019-12-05 2020-04-01
Listerine Total Care Mouthwash, 600 ml                6 2019-12-04 2020-03-28
Medela Women's Easy Expression Bustier - for Co...    6 2019-12-05 2020-03-27
NRS Healthcare Easi 2 Drink Mug With Anti Spill...    1 2020-03-04 2020-03-04
NRS Healthcare Incontinence Care Waterproof Bed...    6 2019-12-14 2020-03-30
NRS Healthcare M03792 Home Helper Trolley - STA...    6 2020-01-10 2020-04-01
NRS Healthcare M15691 Portable Overbed/Chair Ta...    4 2019-12-14 2020-03-22
NRS Healthcare M80282 Kura Care Easy Grip Child...    2 2019-12-02 2020-04-01
NRS Healthcare Reflect Castellated Memory Foam ...    2 2019-12-08 2020-03-18
Oxbow Animal Health Critical Care, Herbivore, A...    5 2020-02-02 2020-03-03
Seven Seas JointCare Active, With Glucosamine, ...    3 2019-12-20 2020-03-27
Seven Seas JointCare Supplex & Turmeric, With G...    8 2020-01-01 2020-03-29
TePe Oral Health Care, Interdental Brush, Mixed...    3 2020-01-02 2020-04-01
The 6-Minute Diary Pure | Gratitude Journal, Mi...   10 2019-12-11 2020-03-15
The 6-Minute Diary | Gratitude Journal for Men ...   24 2019-12-02 2020-03-31
The Reading Glasses for Men and Women 2 Pack +1...    1 2019-12-02 2020-03-16
Tommee Tippee Healthcare Kit for Baby, Black, 9...   24 2019-12-03 2020-04-01
Troo Health Care CoQ10 (100 mg) Plus - 180 Caps...    1 2019-12-28 2020-01-28
Wright's Traditional Coal Tar Soap 002629, 500 ...   20 2019-12-02 2020-03-31
Zendium Gum Care Toothpaste, BioGum Toothpaste,...    1 2020-01-06 2020-01-06

C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))
C:\Users\warne\Anaconda3\lib\site-packages\pandas\core\groupby\generic.py:679: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  result = self.apply(lambda x: x.describe(**kwargs))