In [47]:
import pandas as pd
import numpy as np
import re
import datetime

In [48]:
df_health_1 = pd.read_excel("../Raw(uncleaned) csv files/Amazon.co.uk _ health care_raw_1.xlsx")
df_health_2 = pd.read_excel("../Raw(uncleaned) csv files/Amazon.co.uk _ health care_raw_2.xlsx")
df_health_3 = pd.read_excel("../Raw(uncleaned) csv files/Amazon.co.uk _ health care_raw_3.xlsx")
df_health_4 = pd.read_excel("../Raw(uncleaned) csv files/Amazon.co.uk _ health care_raw_4.xlsx")
df_health_5 = pd.read_excel("../Raw(uncleaned) csv files/Amazon.co.uk _ health care_raw_5.xlsx")
df_health_6 = pd.read_excel("../Raw(uncleaned) csv files/Amazon.co.uk _ health care_raw_6.xlsx")

In [49]:
df_health_1.describe()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,Product Description,State,Review,Helpful
count,960,959,959,6,658,957,957,957,6,947,957,144
unique,8,4,7,4,436,855,5,873,4,1,936,18
top,NRS Healthcare M15691 Portable Overbed/Chair T...,4.5 out of 5 stars,"2,547 ratings",£15\n.\n99,Five Stars,Amazon Customer,5.0 out of 5 stars,Reviewed in the United Kingdom on 28 March 2021,Colour Name: GreySize Name: English,Verified Purchase,Good,One person found this helpful
freq,872,872,872,3,106,54,631,3,3,947,4,69

In [50]:
df_health_1[['Overall Stars', "Individual Review"]] = df_health_1[['Overall Stars', "Individual Review"]].apply(lambda x: x.str.rstrip(' out of 5 stars'))
df_health_2[['Overall Stars', "Individual Review"]] = df_health_2[['Overall Stars', "Individual Review"]].apply(lambda x: x.str.rstrip(' out of 5 stars'))
df_health_3[['Overall Stars', "Individual Review"]] = df_health_3[['Overall Stars', "Individual Review"]].apply(lambda x: x.str.rstrip(' out of 5 stars'))
df_health_4[['Overall Stars', "Individual Review"]] = df_health_4[['Overall Stars', "Individual Review"]].apply(lambda x: x.str.rstrip(' out of 5 stars'))
df_health_5[['Overall Stars', "Individual Review"]] = df_health_5[['Overall Stars', "Individual Review"]].apply(lambda x: x.str.rstrip(' out of 5 stars'))
df_health_6[['Overall Stars', "Individual Review"]] = df_health_6[['Overall Stars', "Individual Review"]].apply(lambda x: x.str.rstrip(' out of 5 stars'))

In [51]:
df_health_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,Product Description,State,Review,Helpful
0,Garden of Life Raw Probiotics Vaginal Care (Sh...,4.6,"3,859 ratings",£33\n.\n51,Poor.,Meg Rowse,1.0,Reviewed in the United Kingdom on 25 April 2021,NaN,Verified Purchase,The wrong product came - I somehow ended up wi...,4 people found this helpful
1,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375 ratings,NaN,Good selection of different sizes,GeoffC,5.0,Reviewed in the United Kingdom on 24 April 2021,NaN,Verified Purchase,Very useful selection of inter dental brushes ...,NaN
2,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375 ratings,NaN,Very Practical,Betty Boop,5.0,Reviewed in the United Kingdom on 26 July 2020,NaN,Verified Purchase,I used to order the different coloured brushes...,NaN
3,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375 ratings,NaN,worth it,julie middleton,5.0,Reviewed in the United Kingdom on 2 January 2020,NaN,Verified Purchase,Fine it you have different size gaps between y...,NaN
4,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375 ratings,NaN,Great starter kit to find the correct size.,Natalie,5.0,Reviewed in the United Kingdom on 18 October 2021,NaN,Verified Purchase,I never really knew which size to buy so this ...,NaN

In [52]:
df_health_1['Location and Date'].describe()

count                                                 957
unique                                                873
top       Reviewed in the United Kingdom on 28 March 2021
freq                                                    3
Name: Location and Date, dtype: object

In [53]:
df_health_1['Location and Date'] = df_health_1['Location and Date'].astype(str)
df_health_2['Location and Date'] = df_health_2['Location and Date'].astype(str)
df_health_3['Location and Date'] = df_health_3['Location and Date'].astype(str)
df_health_4['Location and Date'] = df_health_4['Location and Date'].astype(str)
df_health_5['Location and Date'] = df_health_5['Location and Date'].astype(str)
df_health_6['Location and Date'] = df_health_6['Location and Date'].astype(str)

In [54]:
df_health_1['Location and Date'] = df_health_1['Location and Date'].apply(lambda x: x.lstrip('Reviewed in the '))
df_health_2['Location and Date'] = df_health_2['Location and Date'].apply(lambda x: x.lstrip('Reviewed in the '))
df_health_3['Location and Date'] = df_health_3['Location and Date'].apply(lambda x: x.lstrip('Reviewed in the '))
df_health_4['Location and Date'] = df_health_4['Location and Date'].apply(lambda x: x.lstrip('Reviewed in the '))
df_health_5['Location and Date'] = df_health_5['Location and Date'].apply(lambda x: x.lstrip('Reviewed in the '))
df_health_6['Location and Date'] = df_health_6['Location and Date'].apply(lambda x: x.lstrip('Reviewed in the '))

In [55]:
df_health_1['Number of Reviews'] = df_health_1['Number of Reviews'].astype(str)
df_health_2['Number of Reviews'] = df_health_2['Number of Reviews'].astype(str)
df_health_3['Number of Reviews'] = df_health_3['Number of Reviews'].astype(str)
df_health_4['Number of Reviews'] = df_health_4['Number of Reviews'].astype(str)
df_health_5['Number of Reviews'] = df_health_5['Number of Reviews'].astype(str)
df_health_6['Number of Reviews'] = df_health_6['Number of Reviews'].astype(str)

In [56]:
df_health_1['Number of Reviews'] = df_health_1['Number of Reviews'].apply(lambda x: x.replace(',',''))
df_health_2['Number of Reviews'] = df_health_2['Number of Reviews'].apply(lambda x: x.replace(',',''))
df_health_3['Number of Reviews'] = df_health_3['Number of Reviews'].apply(lambda x: x.replace(',',''))
df_health_4['Number of Reviews'] = df_health_4['Number of Reviews'].apply(lambda x: x.replace(',',''))
df_health_5['Number of Reviews'] = df_health_5['Number of Reviews'].apply(lambda x: x.replace(',',''))
df_health_6['Number of Reviews'] = df_health_6['Number of Reviews'].apply(lambda x: x.replace(',',''))

In [57]:
df_health_1['Number of Reviews'] = df_health_1['Number of Reviews'].apply(lambda x: x.rstrip(' ratings'))
df_health_2['Number of Reviews'] = df_health_2['Number of Reviews'].apply(lambda x: x.rstrip(' ratings'))
df_health_3['Number of Reviews'] = df_health_3['Number of Reviews'].apply(lambda x: x.rstrip(' ratings'))
df_health_4['Number of Reviews'] = df_health_4['Number of Reviews'].apply(lambda x: x.rstrip(' ratings'))
df_health_5['Number of Reviews'] = df_health_5['Number of Reviews'].apply(lambda x: x.rstrip(' ratings'))
df_health_6['Number of Reviews'] = df_health_6['Number of Reviews'].apply(lambda x: x.rstrip(' ratings'))

In [58]:
df_health_1['Helpful'] = df_health_1['Helpful'].astype(str)
df_health_2['Helpful'] = df_health_2['Helpful'].astype(str)
df_health_3['Helpful'] = df_health_3['Helpful'].astype(str)
df_health_4['Helpful'] = df_health_4['Helpful'].astype(str)
df_health_5['Helpful'] = df_health_5['Helpful'].astype(str)
df_health_6['Helpful'] = df_health_6['Helpful'].astype(str)

In [59]:
df_health_1['Helpful'] = df_health_1['Helpful'].apply(lambda x: x.replace(',',''))
df_health_2['Helpful'] = df_health_2['Helpful'].apply(lambda x: x.replace(',',''))
df_health_3['Helpful'] = df_health_3['Helpful'].apply(lambda x: x.replace(',',''))
df_health_4['Helpful'] = df_health_4['Helpful'].apply(lambda x: x.replace(',',''))
df_health_5['Helpful'] = df_health_5['Helpful'].apply(lambda x: x.replace(',',''))
df_health_6['Helpful'] = df_health_6['Helpful'].apply(lambda x: x.replace(',',''))

In [60]:
df_health_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,Product Description,State,Review,Helpful
0,Garden of Life Raw Probiotics Vaginal Care (Sh...,4.6,3859,£33\n.\n51,Poor.,Meg Rowse,1.0,United Kingdom on 25 April 2021,NaN,Verified Purchase,The wrong product came - I somehow ended up wi...,4 people found this helpful
1,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,NaN,Good selection of different sizes,GeoffC,5.0,United Kingdom on 24 April 2021,NaN,Verified Purchase,Very useful selection of inter dental brushes ...,nan
2,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,NaN,Very Practical,Betty Boop,5.0,United Kingdom on 26 July 2020,NaN,Verified Purchase,I used to order the different coloured brushes...,nan
3,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,NaN,worth it,julie middleton,5.0,United Kingdom on 2 January 2020,NaN,Verified Purchase,Fine it you have different size gaps between y...,nan
4,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,NaN,Great starter kit to find the correct size.,Natalie,5.0,United Kingdom on 18 October 2021,NaN,Verified Purchase,I never really knew which size to buy so this ...,nan

In [61]:
df_health_1["Date"] = df_health_1["Location and Date"]
df_health_2["Date"] = df_health_2["Location and Date"]
df_health_3["Date"] = df_health_3["Location and Date"]
df_health_4["Date"] = df_health_4["Location and Date"]
df_health_5["Date"] = df_health_5["Location and Date"]
df_health_6["Date"] = df_health_6["Location and Date"]

In [62]:
df_health_1["Date"] = df_health_1["Date"].apply(lambda x: x.split(' on ')[-1].strip())
df_health_2["Date"] = df_health_2["Date"].apply(lambda x: x.split(' on ')[-1].strip())
df_health_3["Date"] = df_health_3["Date"].apply(lambda x: x.split(' on ')[-1].strip())
df_health_4["Date"] = df_health_4["Date"].apply(lambda x: x.split(' on ')[-1].strip())
df_health_5["Date"] = df_health_5["Date"].apply(lambda x: x.split(' on ')[-1].strip())
df_health_6["Date"] = df_health_6["Date"].apply(lambda x: x.split(' on ')[-1].strip())

In [63]:
df_health_1["Location and Date"] = df_health_1["Location and Date"].apply(lambda x: x.split(' on ')[0].strip())
df_health_2["Location and Date"] = df_health_2["Location and Date"].apply(lambda x: x.split(' on ')[0].strip())
df_health_3["Location and Date"] = df_health_3["Location and Date"].apply(lambda x: x.split(' on ')[0].strip())
df_health_4["Location and Date"] = df_health_4["Location and Date"].apply(lambda x: x.split(' on ')[0].strip())
df_health_5["Location and Date"] = df_health_5["Location and Date"].apply(lambda x: x.split(' on ')[0].strip())
df_health_6["Location and Date"] = df_health_6["Location and Date"].apply(lambda x: x.split(' on ')[0].strip())

In [64]:
df_health_1.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location and Date,Product Description,State,Review,Helpful,Date
0,Garden of Life Raw Probiotics Vaginal Care (Sh...,4.6,3859,£33\n.\n51,Poor.,Meg Rowse,1.0,United Kingdom,NaN,Verified Purchase,The wrong product came - I somehow ended up wi...,4 people found this helpful,25 April 2021
1,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,NaN,Good selection of different sizes,GeoffC,5.0,United Kingdom,NaN,Verified Purchase,Very useful selection of inter dental brushes ...,nan,24 April 2021
2,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,NaN,Very Practical,Betty Boop,5.0,United Kingdom,NaN,Verified Purchase,I used to order the different coloured brushes...,nan,26 July 2020
3,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,NaN,worth it,julie middleton,5.0,United Kingdom,NaN,Verified Purchase,Fine it you have different size gaps between y...,nan,2 January 2020
4,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,NaN,Great starter kit to find the correct size.,Natalie,5.0,United Kingdom,NaN,Verified Purchase,I never really knew which size to buy so this ...,nan,18 October 2021

In [65]:
df_health_1.rename(columns={"Location and Date": "Location"}, inplace = True)
df_health_2.rename(columns={"Location and Date": "Location"}, inplace = True)
df_health_3.rename(columns={"Location and Date": "Location"}, inplace = True)
df_health_4.rename(columns={"Location and Date": "Location"}, inplace = True)
df_health_5.rename(columns={"Location and Date": "Location"}, inplace = True)
df_health_6.rename(columns={"Location and Date": "Location"}, inplace = True)

In [66]:
df_health_1['Price'] = df_health_1['Price'].astype(str)
df_health_2['Price'] = df_health_2['Price'].astype(str)
df_health_3['Price'] = df_health_3['Price'].astype(str)
df_health_4['Price'] = df_health_4['Price'].astype(str)
df_health_5['Price'] = df_health_5['Price'].astype(str)
df_health_6['Price'] = df_health_6['Price'].astype(str)

In [67]:
df_health_1['Price'] = df_health_1['Price'].apply(lambda x: x.replace('\n.\n','.'))
df_health_2['Price'] = df_health_2['Price'].apply(lambda x: x.replace('\n.\n','.'))
df_health_3['Price'] = df_health_3['Price'].apply(lambda x: x.replace('\n.\n','.'))
df_health_4['Price'] = df_health_4['Price'].apply(lambda x: x.replace('\n.\n','.'))
df_health_5['Price'] = df_health_5['Price'].apply(lambda x: x.replace('\n.\n','.'))
df_health_6['Price'] = df_health_6['Price'].apply(lambda x: x.replace('\n.\n','.'))

In [68]:
df_health_1['Price'] = df_health_1['Price'].apply(lambda x: x.replace('£',''))
df_health_2['Price'] = df_health_2['Price'].apply(lambda x: x.replace('£',''))
df_health_3['Price'] = df_health_3['Price'].apply(lambda x: x.replace('£',''))
df_health_4['Price'] = df_health_4['Price'].apply(lambda x: x.replace('£',''))
df_health_5['Price'] = df_health_5['Price'].apply(lambda x: x.replace('£',''))
df_health_6['Price'] = df_health_6['Price'].apply(lambda x: x.replace('£',''))

In [69]:
df_health_1[["day","month", "year"]] = df_health_1["Date"].apply(lambda x: pd.Series(x.split(' ')))
df_health_2[["day","month", "year"]] = df_health_2["Date"].apply(lambda x: pd.Series(x.split(' ')))
df_health_3[["day","month", "year"]] = df_health_3["Date"].apply(lambda x: pd.Series(x.split(' ')))
df_health_4[["day","month", "year"]] = df_health_4["Date"].apply(lambda x: pd.Series(x.split(' ')))
df_health_5[["day","month", "year"]] = df_health_5["Date"].apply(lambda x: pd.Series(x.split(' ')))
df_health_6[["day","month", "year"]] = df_health_6["Date"].apply(lambda x: pd.Series(x.split(' ')))

In [70]:
df_health_1["Date"] = pd.to_datetime(df_health_1['year'].astype(str)  + df_health_1['month'] + df_health_1["day"], format='%Y%B%d')
df_health_2["Date"] = pd.to_datetime(df_health_2['year'].astype(str)  + df_health_2['month'] + df_health_2["day"], format='%Y%B%d')
df_health_3["Date"] = pd.to_datetime(df_health_3['year'].astype(str)  + df_health_3['month'] + df_health_3["day"], format='%Y%B%d')
df_health_4["Date"] = pd.to_datetime(df_health_4['year'].astype(str)  + df_health_4['month'] + df_health_4["day"], format='%Y%B%d')
df_health_5["Date"] = pd.to_datetime(df_health_5['year'].astype(str)  + df_health_5['month'] + df_health_5["day"], format='%Y%B%d')
df_health_6["Date"] = pd.to_datetime(df_health_6['year'].astype(str)  + df_health_6['month'] + df_health_6["day"], format='%Y%B%d')

In [71]:
df_health_4.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location,Product Description,State,Review,Helpful,Date,day,month,year
0,The 6-Minute Diary | Gratitude Journal for Men...,4.6,5560,nan,NaN,FLDanae,3.0,Spain,Colour Name: Dusty RoseSize Name: English,Verified Purchase,"Tiene exactamente 78 páginas de ""introducción""...",3 people found this helpful,2021-12-06,6,December,2021
1,The 6-Minute Diary | Gratitude Journal for Men...,4.6,5560,nan,NaN,A. G.,5.0,Germany,Colour Name: GreySize Name: English,Verified Purchase,"Ein tolles Tagebuch, das nicht viel Zeit brauc...",3 people found this helpful,2019-01-09,9,January,2019
2,The 6-Minute Diary | Gratitude Journal for Men...,4.6,5560,nan,NaN,Nadine,5.0,Germany,Colour Name: Dusty RoseSize Name: English,Verified Purchase,Ich hab mir die englische Version (nochmal 100...,nan,2021-01-13,13,January,2021
3,The 6-Minute Diary | Gratitude Journal for Men...,4.6,5560,nan,NaN,Alicia,5.0,Germany,Colour Name: Sky BlueSize Name: English,Verified Purchase,If only I had known how much a journal can cha...,nan,2021-04-17,17,April,2021
4,The 6-Minute Diary | Gratitude Journal for Men...,4.6,5560,nan,NaN,Cliente Amazon,4.0,Italy,Colour Name: Sky BlueSize Name: English,Verified Purchase,"Davvero un bellissimo diario, qualità dei mate...",nan,2021-06-04,4,June,2021

In [72]:
df_health_1.drop(columns = ["day", "month", "year"], inplace= True)
df_health_2.drop(columns = ["day", "month", "year"], inplace= True)
df_health_3.drop(columns = ["day", "month", "year"], inplace= True)
df_health_4.drop(columns = ["day", "month", "year"], inplace= True)
df_health_5.drop(columns = ["day", "month", "year"], inplace= True)
df_health_6.drop(columns = ["day", "month", "year"], inplace= True)

In [73]:
df_health_1["Helpful"] = df_health_1["Helpful"].apply(lambda x: x.rstrip('people found this helpful'))
df_health_2["Helpful"] = df_health_2["Helpful"].apply(lambda x: x.rstrip('people found this helpful'))
df_health_3["Helpful"] = df_health_3["Helpful"].apply(lambda x: x.rstrip('people found this helpful'))
df_health_4["Helpful"] = df_health_4["Helpful"].apply(lambda x: x.rstrip('people found this helpful'))
df_health_5["Helpful"] = df_health_5["Helpful"].apply(lambda x: x.rstrip('people found this helpful'))
df_health_6["Helpful"] = df_health_6["Helpful"].apply(lambda x: x.rstrip('people found this helpful'))

In [74]:
df_health_1["Helpful"].replace(['One per', "na"], [1, 0], inplace = True)
df_health_2["Helpful"].replace(['One per', "na"], [1, 0], inplace = True)
df_health_3["Helpful"].replace(['One per', "na"], [1, 0], inplace = True)
df_health_4["Helpful"].replace(['One per', "na"], [1, 0], inplace = True)
df_health_5["Helpful"].replace(['One per', "na"], [1, 0], inplace = True)
df_health_6["Helpful"].replace(['One per', "na"], [1, 0], inplace = True)

In [75]:
df_health_1["Number of Reviews"].replace('', 0, inplace=True)
df_health_2["Number of Reviews"].replace('', 0, inplace=True)
df_health_3["Number of Reviews"].replace('', 0, inplace=True)
df_health_4["Number of Reviews"].replace('', 0, inplace=True)
df_health_5["Number of Reviews"].replace('', 0, inplace=True)
df_health_6["Number of Reviews"].replace('', 0, inplace=True)

In [76]:
df_health_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Product              960 non-null    object
 1   Overall Stars        959 non-null    object
 2   Number of Reviews    960 non-null    object
 3   Price                960 non-null    object
 4   Title of Review      658 non-null    object
 5   Name                 957 non-null    object
 6   Individual Review    957 non-null    object
 7   Location             960 non-null    object
 8   Product Description  6 non-null      object
 9   State                947 non-null    object
 10  Review               957 non-null    object
 11  Helpful              960 non-null    object
 12  Date                 957 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(12)
memory usage: 97.6+ KB

In [77]:
df_health_1[["Product", "Title of Review", "Name", "Location", "State", "Review"]].astype(str).dtypes
df_health_1[["Overall Stars", "Price", "Individual Review"]].astype(float)
df_health_1[["Number of Reviews", "Helpful"]].astype(int)

     Number of Reviews  Helpful
0                 3859        4
1                  375        0
2                  375        0
3                  375        0
4                  375        0
..                 ...      ...
955                 33        0
956                319        0
957                319        1
958                319        0
959                  0        0

[960 rows x 2 columns]

In [78]:
df_health_2[["Product", "Title of Review", "Name", "Location", "State", "Review"]].astype(str).dtypes
df_health_2[["Overall Stars", "Price", "Individual Review"]].astype(float)
df_health_2[["Number of Reviews", "Helpful"]].astype(int)

     Number of Reviews  Helpful
0                 2245        0
1                 2245        0
2                 2245        0
3                 2245        0
4                 2245        0
..                 ...      ...
197               1406       48
198               1406       18
199               1406        2
200               1406        3
201               1406        3

[202 rows x 2 columns]

In [79]:
df_health_3[["Product", "Title of Review", "Name", "Location", "State", "Review"]].astype(str).dtypes
df_health_3[["Overall Stars", "Price", "Individual Review"]].astype(float)
df_health_3[["Number of Reviews", "Helpful"]].astype(int)

       Number of Reviews  Helpful
0                   2441        0
1                   2441        0
2                   2441        0
3                   2441        0
4                   2441        0
...                  ...      ...
19995               2245        0
19996               2245        1
19997               2245        0
19998               2245        0
19999               2245        0

[20000 rows x 2 columns]

In [80]:
df_health_4[["Product", "Title of Review", "Name", "Location", "State", "Review"]].astype(str).dtypes
df_health_4[["Overall Stars", "Price", "Individual Review"]].astype(float)
df_health_4[["Number of Reviews", "Helpful"]].astype(int)

       Number of Reviews  Helpful
0                   5560        3
1                   5560        3
2                   5560        0
3                   5560        0
4                   5560        0
...                  ...      ...
19995               2441        0
19996               2441        0
19997               2441        2
19998               2441        0
19999               2441        0

[20000 rows x 2 columns]

In [81]:
df_health_5[["Product", "Title of Review", "Name", "Location", "State", "Review"]].astype(str).dtypes
df_health_5[["Overall Stars", "Price", "Individual Review"]].astype(float)
df_health_5[["Number of Reviews", "Helpful"]].astype(int)

       Number of Reviews  Helpful
0                   6690        3
1                   6690        0
2                   6690        1
3                   6690        0
4                   6690        0
...                  ...      ...
19995               5560        3
19996               5560        2
19997               5560        1
19998               5560        3
19999               5560        6

[20000 rows x 2 columns]

In [82]:
df_health_6[["Product", "Title of Review", "Name", "Location", "State", "Review"]].astype(str)
df_health_6[["Overall Stars", "Price", "Individual Review"]].astype(float)
df_health_6[["Number of Reviews", "Helpful"]].astype(int)

       Number of Reviews  Helpful
0                    107        0
1                    107        1
2                    107        4
3                    107        0
4                    107        0
...                  ...      ...
19995               6690        1
19996               6690        0
19997               6690        0
19998               6690        0
19999               6690        5

[20000 rows x 2 columns]

In [83]:
df_uk_health = pd.DataFrame()

In [125]:
df_uk_health = pd.concat([df_health_1, df_health_2, df_health_3, df_health_4, df_health_5, df_health_6], ignore_index = True)

In [126]:
df_uk_health

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location,Product Description,State,Review,Helpful,Date
0,Garden of Life Raw Probiotics Vaginal Care (Sh...,4.6,3859,33.51,Poor.,Meg Rowse,1.0,United Kingdom,NaN,Verified Purchase,The wrong product came - I somehow ended up wi...,4,2021-04-25
1,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,nan,Good selection of different sizes,GeoffC,5.0,United Kingdom,NaN,Verified Purchase,Very useful selection of inter dental brushes ...,0,2021-04-24
2,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,nan,Very Practical,Betty Boop,5.0,United Kingdom,NaN,Verified Purchase,I used to order the different coloured brushes...,0,2020-07-26
3,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,nan,worth it,julie middleton,5.0,United Kingdom,NaN,Verified Purchase,Fine it you have different size gaps between y...,0,2020-01-02
4,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,nan,Great starter kit to find the correct size.,Natalie,5.0,United Kingdom,NaN,Verified Purchase,I never really knew which size to buy so this ...,0,2021-10-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81157,"The 6-Minute Diary Pure | Gratitude Journal, M...",4.6,6690,nan,NaN,Nico Patidis,5.0,Germany,NaN,Verified Purchase,"Das Buch ist vile mehr als ein Buch, es ist me...",1,2019-10-28
81158,"The 6-Minute Diary Pure | Gratitude Journal, M...",4.6,6690,nan,NaN,Faith,5.0,Germany,Colour Name: EcruSize Name: German,Verified Purchase,Ich habe schon das „6-Minuten-Tagebuch“ genutz...,0,2020-11-30
81159,"The 6-Minute Diary Pure | Gratitude Journal, M...",4.6,6690,nan,NaN,Amazon Kunde,5.0,Germany,NaN,Verified Purchase,Eigentlich schreibe ich ja keine Rezensionen.....,0,2020-10-15
81160,"The 6-Minute Diary Pure | Gratitude Journal, M...",4.6,6690,nan,NaN,Stephanie Scholpp,5.0,Germany,Colour Name: Dusky PinkSize Name: German,Verified Purchase,Ich habe mit der ersten Version des 6-Minuten ...,0,2020-06-27
81161,"The 6-Minute Diary Pure | Gratitude Journal, M...",4.6,6690,nan,NaN,Amazon Kunde,5.0,Germany,Colour Name: EcruSize Name: German,Verified Purchase,Dieses Buch macht mir jeden Tag auf's neue deu...,5,2018-07-26

In [127]:
df_uk_health["Location"].value_counts()

United Kingdom    58618
Germany           10087
United States      7129
Italy              1486
France             1126
Spain              1105
Canada              619
Japan               605
an                  188
Australia           113
Mexico               59
Netherlands          15
Sweden                7
India                 5
Name: Location, dtype: int64

In [128]:
df_uk_health = df_uk_health[df_uk_health["Location"].isin(["United Kingdom", "United States", "Canada", "India", "Australia"])]

In [129]:
df_covid_dates = df_uk_health[(df_uk_health["Date"] > "2019-12-01") & (df_uk_health['Date'] <= "2020-08-01")]

In [130]:
df_covid_dates.shape

(9970, 13)

In [131]:
df_covid_dates["Location"].value_counts()

United Kingdom    7803
United States     2077
Canada              54
Australia           31
India                5
Name: Location, dtype: int64

In [132]:
df_covid_dates.head()

,Product,Overall Stars,Number of Reviews,Price,Title of Review,Name,Individual Review,Location,Product Description,State,Review,Helpful,Date
2,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,nan,Very Practical,Betty Boop,5.0,United Kingdom,NaN,Verified Purchase,I used to order the different coloured brushes...,0,2020-07-26
3,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,nan,worth it,julie middleton,5.0,United Kingdom,NaN,Verified Purchase,Fine it you have different size gaps between y...,0,2020-01-02
20,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,nan,Happy,Linda,5.0,United Kingdom,NaN,Verified Purchase,Very happy,0,2020-05-18
46,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,nan,Good mixture,Amazon Customer,4.0,United Kingdom,NaN,Verified Purchase,Work quite well but after a couple of use they...,0,2020-01-23
49,"TePe Oral Health Care, Interdental Brush, Mixe...",4.6,375,nan,Good,Amazon Customer,4.0,United Kingdom,NaN,Verified Purchase,Good,0,2020-03-22

In [133]:
df_covid_dates = df_covid_dates.drop(columns=["Overall Stars", "Number of Reviews", "Title of Review", "Product Description", "State", "Name"])

In [134]:
df_covid_dates.head()

,Product,Price,Individual Review,Location,Review,Helpful,Date
2,"TePe Oral Health Care, Interdental Brush, Mixe...",nan,5.0,United Kingdom,I used to order the different coloured brushes...,0,2020-07-26
3,"TePe Oral Health Care, Interdental Brush, Mixe...",nan,5.0,United Kingdom,Fine it you have different size gaps between y...,0,2020-01-02
20,"TePe Oral Health Care, Interdental Brush, Mixe...",nan,5.0,United Kingdom,Very happy,0,2020-05-18
46,"TePe Oral Health Care, Interdental Brush, Mixe...",nan,4.0,United Kingdom,Work quite well but after a couple of use they...,0,2020-01-23
49,"TePe Oral Health Care, Interdental Brush, Mixe...",nan,4.0,United Kingdom,Good,0,2020-03-22

In [135]:
df_covid_dates.insert(1, 'Category', 'Health Care')

In [136]:
df_covid_dates.dtypes

Product                      object
Category                     object
Price                        object
Individual Review            object
Location                     object
Review                       object
Helpful                      object
Date                 datetime64[ns]
dtype: object

In [137]:
df_covid_dates = df_covid_dates[["Product", "Category", "Price", "Individual Review", "Location", "Date", "Review", "Helpful"]]
df_covid_dates

,Product,Category,Price,Individual Review,Location,Date,Review,Helpful
2,"TePe Oral Health Care, Interdental Brush, Mixe...",Health Care,nan,5.0,United Kingdom,2020-07-26,I used to order the different coloured brushes...,0
3,"TePe Oral Health Care, Interdental Brush, Mixe...",Health Care,nan,5.0,United Kingdom,2020-01-02,Fine it you have different size gaps between y...,0
20,"TePe Oral Health Care, Interdental Brush, Mixe...",Health Care,nan,5.0,United Kingdom,2020-05-18,Very happy,0
46,"TePe Oral Health Care, Interdental Brush, Mixe...",Health Care,nan,4.0,United Kingdom,2020-01-23,Work quite well but after a couple of use they...,0
49,"TePe Oral Health Care, Interdental Brush, Mixe...",Health Care,nan,4.0,United Kingdom,2020-03-22,Good,0
...,...,...,...,...,...,...,...,...
80897,"The 6-Minute Diary Pure | Gratitude Journal, M...",Health Care,nan,5.0,United Kingdom,2019-12-11,Nicely printed. Easy to use :),0
80912,"The 6-Minute Diary Pure | Gratitude Journal, M...",Health Care,nan,5.0,United Kingdom,2020-01-28,"I have had the 6 minute diary twice now, also ...",0
80914,"The 6-Minute Diary Pure | Gratitude Journal, M...",Health Care,nan,5.0,United Kingdom,2020-01-02,This diary has helped through some difficult t...,0
80919,"The 6-Minute Diary Pure | Gratitude Journal, M...",Health Care,nan,5.0,United Kingdom,2020-06-22,Follow up from the 6 minute original Diary. Ve...,0
80922,"The 6-Minute Diary Pure | Gratitude Journal, M...",Health Care,nan,5.0,United Kingdom,2020-06-10,I first used the 6 minute diary and it really ...,0

In [138]:
df_covid_dates.reset_index(inplace=True, drop = True)

In [139]:
df_covid_dates

,Product,Category,Price,Individual Review,Location,Date,Review,Helpful
0,"TePe Oral Health Care, Interdental Brush, Mixe...",Health Care,nan,5.0,United Kingdom,2020-07-26,I used to order the different coloured brushes...,0
1,"TePe Oral Health Care, Interdental Brush, Mixe...",Health Care,nan,5.0,United Kingdom,2020-01-02,Fine it you have different size gaps between y...,0
2,"TePe Oral Health Care, Interdental Brush, Mixe...",Health Care,nan,5.0,United Kingdom,2020-05-18,Very happy,0
3,"TePe Oral Health Care, Interdental Brush, Mixe...",Health Care,nan,4.0,United Kingdom,2020-01-23,Work quite well but after a couple of use they...,0
4,"TePe Oral Health Care, Interdental Brush, Mixe...",Health Care,nan,4.0,United Kingdom,2020-03-22,Good,0
...,...,...,...,...,...,...,...,...
9965,"The 6-Minute Diary Pure | Gratitude Journal, M...",Health Care,nan,5.0,United Kingdom,2019-12-11,Nicely printed. Easy to use :),0
9966,"The 6-Minute Diary Pure | Gratitude Journal, M...",Health Care,nan,5.0,United Kingdom,2020-01-28,"I have had the 6 minute diary twice now, also ...",0
9967,"The 6-Minute Diary Pure | Gratitude Journal, M...",Health Care,nan,5.0,United Kingdom,2020-01-02,This diary has helped through some difficult t...,0
9968,"The 6-Minute Diary Pure | Gratitude Journal, M...",Health Care,nan,5.0,United Kingdom,2020-06-22,Follow up from the 6 minute original Diary. Ve...,0
9969,"The 6-Minute Diary Pure | Gratitude Journal, M...",Health Care,nan,5.0,United Kingdom,2020-06-10,I first used the 6 minute diary and it really ...,0

In [140]:
df_covid_dates.isna().value_counts()

Product  Category  Price  Individual Review  Location  Date   Review  Helpful
False    False     False  False              False     False  False   False      9966
                                                              True    False         4
dtype: int64

In [146]:
df_covid_dates["Review"].dropna(inplace= True)

In [147]:
df_covid_dates.isna().value_counts()

Product  Category  Price  Individual Review  Location  Date   Review  Helpful
False    False     False  False              False     False  False   False      9966
                                                              True    False         4
dtype: int64

In [156]:
df_covid_dates = df_covid_dates.dropna()

In [157]:
df_covid_dates.isna().value_counts()

Product  Category  Price  Individual Review  Location  Date   Review  Helpful
False    False     False  False              False     False  False   False      9966
dtype: int64

In [158]:
df_covid_dates

,Product,Category,Price,Individual Review,Location,Date,Review,Helpful
0,"TePe Oral Health Care, Interdental Brush, Mixe...",Health Care,nan,5.0,United Kingdom,2020-07-26,I used to order the different coloured brushes...,0
1,"TePe Oral Health Care, Interdental Brush, Mixe...",Health Care,nan,5.0,United Kingdom,2020-01-02,Fine it you have different size gaps between y...,0
2,"TePe Oral Health Care, Interdental Brush, Mixe...",Health Care,nan,5.0,United Kingdom,2020-05-18,Very happy,0
3,"TePe Oral Health Care, Interdental Brush, Mixe...",Health Care,nan,4.0,United Kingdom,2020-01-23,Work quite well but after a couple of use they...,0
4,"TePe Oral Health Care, Interdental Brush, Mixe...",Health Care,nan,4.0,United Kingdom,2020-03-22,Good,0
...,...,...,...,...,...,...,...,...
9965,"The 6-Minute Diary Pure | Gratitude Journal, M...",Health Care,nan,5.0,United Kingdom,2019-12-11,Nicely printed. Easy to use :),0
9966,"The 6-Minute Diary Pure | Gratitude Journal, M...",Health Care,nan,5.0,United Kingdom,2020-01-28,"I have had the 6 minute diary twice now, also ...",0
9967,"The 6-Minute Diary Pure | Gratitude Journal, M...",Health Care,nan,5.0,United Kingdom,2020-01-02,This diary has helped through some difficult t...,0
9968,"The 6-Minute Diary Pure | Gratitude Journal, M...",Health Care,nan,5.0,United Kingdom,2020-06-22,Follow up from the 6 minute original Diary. Ve...,0
9969,"The 6-Minute Diary Pure | Gratitude Journal, M...",Health Care,nan,5.0,United Kingdom,2020-06-10,I first used the 6 minute diary and it really ...,0

In [161]:
df_covid_dates = df_covid_dates.reset_index(drop = True)

In [197]:
df_covid_dates

,Product,Category,Price,Individual Review,Location,Date,Review,Helpful
0,"TePe Oral Health Care, Interdental Brush, Mixe...",Health Care,nan,5.0,United Kingdom,2020-07-26,I used to order the different coloured brushes...,0
1,"TePe Oral Health Care, Interdental Brush, Mixe...",Health Care,nan,5.0,United Kingdom,2020-01-02,Fine it you have different size gaps between y...,0
2,"TePe Oral Health Care, Interdental Brush, Mixe...",Health Care,nan,5.0,United Kingdom,2020-05-18,Very happy,0
3,"TePe Oral Health Care, Interdental Brush, Mixe...",Health Care,nan,4.0,United Kingdom,2020-01-23,Work quite well but after a couple of use they...,0
4,"TePe Oral Health Care, Interdental Brush, Mixe...",Health Care,nan,4.0,United Kingdom,2020-03-22,Good,0
...,...,...,...,...,...,...,...,...
9961,"The 6-Minute Diary Pure | Gratitude Journal, M...",Health Care,nan,5.0,United Kingdom,2019-12-11,Nicely printed. Easy to use :),0
9962,"The 6-Minute Diary Pure | Gratitude Journal, M...",Health Care,nan,5.0,United Kingdom,2020-01-28,"I have had the 6 minute diary twice now, also ...",0
9963,"The 6-Minute Diary Pure | Gratitude Journal, M...",Health Care,nan,5.0,United Kingdom,2020-01-02,This diary has helped through some difficult t...,0
9964,"The 6-Minute Diary Pure | Gratitude Journal, M...",Health Care,nan,5.0,United Kingdom,2020-06-22,Follow up from the 6 minute original Diary. Ve...,0
9965,"The 6-Minute Diary Pure | Gratitude Journal, M...",Health Care,nan,5.0,United Kingdom,2020-06-10,I first used the 6 minute diary and it really ...,0

In [198]:
product_names = pd.DataFrame

In [201]:
product_names = df_covid_dates

In [205]:
product_names

                                                Product Price
0     TePe Oral Health Care, Interdental Brush, Mixe...   nan
1     TePe Oral Health Care, Interdental Brush, Mixe...   nan
2     TePe Oral Health Care, Interdental Brush, Mixe...   nan
3     TePe Oral Health Care, Interdental Brush, Mixe...   nan
4     TePe Oral Health Care, Interdental Brush, Mixe...   nan
...                                                 ...   ...
9961  The 6-Minute Diary Pure | Gratitude Journal, M...   nan
9962  The 6-Minute Diary Pure | Gratitude Journal, M...   nan
9963  The 6-Minute Diary Pure | Gratitude Journal, M...   nan
9964  The 6-Minute Diary Pure | Gratitude Journal, M...   nan
9965  The 6-Minute Diary Pure | Gratitude Journal, M...   nan

[9966 rows x 2 columns]

In [204]:
product_names = product_names.drop(columns=["Category","Individual Review","Location", "Date", "Review","Helpful"])

In [207]:
product_names.groupby(["Product"]).count()

                                                    Price
Product
10 Pcs Baby Grooming Kit Baby Healthcare Kit Ne...      1
21st Century Health Care, Herbal Slimming Tea, ...     12
Alexandra | Men's | Healthcare Tunic | Ideal fo...      2
Alexandra | Women's | Contrast Trim Tunic (Zip)...      2
Baby Grooming Kit, Infant Baby Healthcare Kit, ...    787
Bodyclock Health Care Ltd - Self Adhesive Elect...     98
Boxclever Press Luxury A5 Diary Cover. Textured...     39
Brilliant Salmon Oil for Dogs, Cats, Puppy, Hor...      3
Burde Diary 2022 Life Planner Pink | 20 Decembe...     30
Dental Care Kit for Plaque Removal 4 Piece Tool...     72
Eye Complex 7: Lutein, Meso-Zeaxanthin, Zeaxant...     90
FLO Organic Non-Applicator Highly Absorbent Org...      3
Foot Pads,Foot Patches, 100Pcs Feet Pads to Rem...     24
Garden of Life Raw Probiotics Vaginal Care (She...    395
GoGirl Planner and Organizer for Women – Compac...   1576
Goal Crazy Undated Planner - 90 Day Guided Jour...     23
Harvest Healthcare Modular Foam Pressure Care C...     24
Healifty 20pcs Disposable Vaginal Applicators P...      7
Hibiscrub Health Care, 500ml                         1189
Hill's Science Plan Adult Oral Care Dry Cat Foo...      2
Latest Version Kao MEGURISM Health Care Steam W...    150
Leucillin Natural Antiseptic Spray | Antibacter...    174
Leucillin Natural Antiseptic Spray | Antibacter...    250
Lictin Baby Grooming Kit Newborn - 12PCS Baby H...     21
Lictin Baby Health Care Kit - Baby Grooming Kit...    605
Listerine Total Care 10 in Sensitive Mouthwash,...    123
Listerine Total Care Mouthwash, 600 ml                177
Medela Women's Easy Expression Bustier - for Co...    117
NRS Healthcare Easi 2 Drink Mug With Anti Spill...      1
NRS Healthcare Incontinence Care Waterproof Bed...    115
NRS Healthcare M03792 Home Helper Trolley - STA...     54
NRS Healthcare M15691 Portable Overbed/Chair Ta...    157
NRS Healthcare M80282 Kura Care Easy Grip Child...     72
NRS Healthcare P andS Healthcare Men's Inco-Eli...      4
NRS Healthcare Reflect Castellated Memory Foam ...     24
Oxbow Animal Health Critical Care, Herbivore, A...    218
Seven Seas JointCare Active, With Glucosamine, ...     66
Seven Seas JointCare Supplex & Turmeric, With G...    184
TePe Oral Health Care, Interdental Brush, Mixed...     24
The 6-Minute Diary Pure | Gratitude Journal, Mi...    260
The 6-Minute Diary | Gratitude Journal for Men ...   1009
The Reading Glasses for Men and Women 2 Pack +1...      6
Tommee Tippee Healthcare Kit for Baby, Black, 9...   1248
Troo Health Care CoQ10 (100 mg) Plus - 180 Caps...      5
Tuzi Qiuge Pet Toy Double Ladder Corrugated Pap...      1
Wright's Traditional Coal Tar Soap 002629, 500 ...    516
Zendium Gum Care Toothpaste, BioGum Toothpaste,...      6

In [210]:
df_covid_dates.isna().value_counts()

Product  Category  Price  Individual Review  Location  Date   Review  Helpful
False    False     False  False              False     False  False   False      9966
dtype: int64

In [209]:
df_covid_dates.to_csv("../Cleaned_&_Sentimental_csv/health_care_for_sentimental.csv", index = False)